## Задания 6.1 - 6.12

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

        starttime — время начала поездки (дата, время);
        stoptime — время окончания поездки (дата, время);
        start station id — идентификатор стартовой стоянки;
        start station name — название стартовой стоянки;
        start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
        end station id — идентификатор конечной стоянки;

        end station name — название конечной стоянки;
        end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
        bikeid — идентификатор велосипеда;
        usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
        birth year — год рождения клиента;
        gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

### Задание 6.1

Сколько пропусков в столбце start station id?

In [1]:
# получаем доступ к библиотеке pandas
import pandas as pd


# читаем csv-файл в переменную
citibike_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')
citibike_df = citibike_data.copy()

display(citibike_df.info())
# 169

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

## Задание 6.3

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [2]:
# узнаем моду агрегирующим методом
display(citibike_df['start station id'].mode())
# смотрим моду при помощи метода .value_counts()
display(citibike_df['start station id'].value_counts())
# 281

0    281.0
Name: start station id, dtype: float64

start station id
281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: count, Length: 759, dtype: int64

# Задание 6.4

Велосипед с каким идентификатором является самым популярным?

In [3]:
# смотрим на информацию о таблице
display(citibike_df.info())
# смотрим на моду среди идентификаторов велосипеда
display(citibike_df['bikeid'].mode())
# перпроверяю в общем случае
display(citibike_df['bikeid'].value_counts())
# 33887

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

0    33887
Name: bikeid, dtype: int64

bikeid
33887    107
34358    104
34258    103
34159    103
33916    102
        ...
19685      1
18083      1
17567      1
15122      1
25967      1
Name: count, Length: 10004, dtype: int64

## Задание 6.5

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [4]:
display(citibike_df.info())
# смотрим на долю разновидности клиентов при помощи параметра normalize
display(round(citibike_df['usertype'].value_counts(normalize=True), 2))
# 0.77

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

usertype
Subscriber    0.77
Customer      0.23
Name: proportion, dtype: float64

## Задание 6.6

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [5]:
# смотрим ответ при помощи агрегирующего метода .mode()
display(citibike_df['gender'].mode())
# смотрим на количество повторенией уникальных элементов
display(citibike_df['gender'].value_counts())
print(f'Average amount of man citibike trip is {citibike_df['gender'].value_counts().iloc[0]}')

0    1
Name: gender, dtype: int64

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

Average amount of man citibike trip is 183582

# Задание 6.8

В первую очередь удалим лишнюю информацию из данных.

В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [6]:
display(citibike_df.info())
# производим удаление при помощи метода .drop()
citibike_df.drop(['start station id', 'end station id'], axis=1, inplace=True)
display(citibike_df.info())
# 12

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

None

## Задание 6.9

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [7]:
# видим что после запуска кода, повторить его не получится
display(citibike_df['birth year'])
# проводим математическую операцию, узнаем разницу
citibike_df['age'] = 2018 - citibike_df['birth year']
display(citibike_df['age'])
# убиарем признак birth year за ненадобностью
citibike_df.drop('birth year', axis=1, inplace=True)
display(citibike_df.info())
# закрепляем применение фильтрации и метода .shape
display(citibike_df[citibike_df['age'] > 60].shape[0])

0         1980
1         1969
2         1975
3         1984
4         1994
          ...
299995    1990
299996    1982
299997    1991
299998    1975
299999    1966
Name: birth year, Length: 300000, dtype: int64

0         38
1         49
2         43
3         34
4         24
          ..
299995    28
299996    36
299997    27
299998    43
299999    52
Name: age, Length: 300000, dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

None

11837

## Задание 6.10

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [ ]:
display(citibike_df.info())
citibike_df['starttime'] = pd.to_datetime(citibike_df['starttime'])
citibike_df['stoptime'] = pd.to_datetime(citibike_df['stoptime'])
display(citibike_df.info())

citibike_df['trip duration'] = citibike_df['stoptime'] - \
    citibike_df['starttime']
display(citibike_df['trip duration'])   
 

# красиво печатаем ответ
print(f'The third index citibike trip last :{citibike_df['trip duration'].\
    iloc[3]}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), int64(3), object(3), timedelta64[ns](1)
memory usage: 29.8+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), int64(3), object(3), timedelta64[ns](1)
memory usage: 29.8+ MB

None

0        0 days 00:27:15.365000
1        0 days 00:02:12.200000
2        0 days 00:55:37.898000
3        0 days 00:07:16.837000
4        0 days 02:20:57.993000
                  ...
299995   0 days 00:07:23.648000
299996   0 days 00:11:33.138000
299997   0 days 00:05:12.997000
299998   0 days 00:56:00.092000
299999   0 days 00:03:45.051000
Name: trip duration, Length: 300000, dtype: timedelta64[ns]

The third index citibike trip last :0 days 00:07:16.837000

## Задание 6.11

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [35]:
display(citibike_df.info())
# создаем новую таблицу с 
citibike_df['weekend'] = citibike_df['starttime'].dt.dayofweek
display(citibike_df['weekend'])

# напишем функцию которая будет менять значения на 0 или 1 в зависимости от
# дня недели
def weekend_col(arg):
    # создадим список с исключениями
    exclude_list = [0, 1, 2, 3, 4]
    # условие проверит какая цифра поступает в функцию
    if arg in exclude_list:
        return 0
    else:
        return 1
    
# применим фунцию на признак
citibike_df['weekend'] = citibike_df['weekend'].apply(weekend_col)    
value_weekend = citibike_df['weekend'].value_counts()
print(f'Number of weekend bike trip: {value_weekend.iloc[1]}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
 13  weekend                  300000 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(4), object(3), timedelta64[ns](1)
memory usage: 32.0+ MB

None

0         5
1         5
2         5
3         5
4         5
         ..
299995    2
299996    2
299997    2
299998    2
299999    2
Name: weekend, Length: 300000, dtype: int32

Number of weekend bike trip: 115135

## Задание 6.12

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:

    поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
    поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
    поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
    поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [ ]:
# обьект pd.Series будет содержать информацию о часе начала поездки
start_hour = citibike_df['starttime'].dt.hour
display(start_hour)
# пишем функцию, которая сгруппирует признак по условию 
def start_interval(arg):
    # создадим списки интервалов
    night = [0, 1, 2, 3, 4, 5, 6]
    morning = [7, 8, 9, 10, 11, 12]
    day = [13, 14, 15, 16, 17, 18]
    evening = [19, 20, 21, 22, 23]
    # проверяем аргумент на вхожденеи в какой-либо из списков
    if arg in night:
        return 'night'
    elif arg in morning:
        return 'morning'
    elif arg in day:
        return 'day'
    else:
        return 'evening'
    
# применяем функцию в новый столбец

citibike_df['time_of_day'] = start_hour.apply(start_interval)
display(citibike_df['time_of_day'])
display(citibike_df.info())

# смотрим во сколько количество поездок совершенны
# днем больше количества поездок совершенных ночью красивым способом
day_unique = citibike_df['time_of_day'].value_counts().loc['day']
night_unique = citibike_df['time_of_day'].value_counts().loc['night']
print(f'Number of how much day rides bigger then night rides: \
    {round(day_unique / night_unique)}')

0          0
1          0
2          0
3          0
4          0
          ..
299995    19
299996    19
299997    19
299998    19
299999    19
Name: starttime, Length: 300000, dtype: int32

0           night
1           night
2           night
3           night
4           night
           ...
299995    evening
299996    evening
299997    evening
299998    evening
299999    evening
Name: time_of_day, Length: 300000, dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
 13  weekend                  300000 non-null  int64
 14  time_of_day              300000 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(4), object(4), timedelta64[ns](1)
memory usage: 34.3+ MB

None

Number of how much day rides bigger then night rides:     9