## Задание 2.4

В аптеку поступают партии лекарств. Их названия находятся в списке names, количество единиц товара находится в списке counts.

Например:

names = ['chlorhexidine', 'cyntomycin', 'afobazol'] counts = [15, 18, 7]

Напишите функцию create_medications(names, counts), которая создает Series medications, индексами которой являются названия лекарств names, а значениями - их количество в поставке counts.

А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара с именем name от общего количества товаров в поставке в процентах.

Примечание. Не забудьте ипортировать библиотеки.

In [11]:
# обязательный импорт pandas
import pandas as pd


names = ['chlorhexidine', 'cyntomycin', 'afobazol'] 
counts = [15, 18, 7]

# инициализирую функцию которая даст информацию
# о всех препаратах в виде обьекта .Series
def create_medications(names, counts):
    # создаю обьект на основе данных
    medications = pd.Series(
        data = counts,
        index = names,
        name = 'medications'
    )
    
    return medications

# складываю обработанные данные в виде функции в обьект
medications = create_medications(names, counts)
print(medications)

print('*' * 60)

# узнаю долю препарата среди всех препаратов
def get_percent(medications, name):
    # узнаем количество препаратов 
    name_count = medications.loc[name]
    # узнаем общее колтчество
    sum_counts = sum(counts)
    # узнаем долю в процентах
    result = name_count * 100 / sum_counts
    
    return result


print(get_percent(medications, 'chlorhexidine'))

chlorhexidine    15
cyntomycin       18
afobazol          7
Name: medications, dtype: int64
************************************************************
37.5

## Задача 3.5

Вы работаете аналитиком в компании ScienceYou. Ваша задача — проанализировать чистую прибыль.

Доходы (income), расходы (expenses) и годы (years), соответствующие им, предоставлены вам в виде списков.

Например:

income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

Создайте функцию create_companyDF(income, expenses, years), которая возвращает DataFrame, составленный из входных данных со столбцами Income и Expenses и индексами, соответствующими годам рассматриваемого периода.

Пример такого DataFrame представлен ниже.

    Income  Expenses
2018    478     156
2019    512     130
2020    196     270

Также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанными в таблице df, за год year.

Примечание. Если информация за запрашиваемый год не указана в вашей таблице, вам необходимо вернуть None.

In [18]:
# получаем доступ к pandas
import pandas as pd


income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

# создаем функцию
def create_companyDF(income, expenses, years):
    # закрепляем работу по созданию таблицы первым способом через словарь
    company_df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses,
    })
    # расставляем ассоциативные метки
    company_df.index = years
    
    # смотрим на таблицу
    return company_df

print(create_companyDF(income, expenses, years))

# помещаем таблицу в переменную
df = create_companyDF(income, expenses, years)
# вычисляем разницу между доходом и расходом
def get_profit(df, year):
    # создаю условие проверяющее что введенный аргумент
    # действительно находится в списке ассоциативных меток
    if year in years:
        # закидываем нужные данные
        # из табылицы в переменные для проведения расчета
        income = df.loc[year, 'Income']
        expenses = df.loc[year, 'Expenses']
        result = income - expenses
        return result
    # если года в таблице нет, то возвращаю None
    else:
        return None

print('*' * 60)

print(get_profit(df, 2012))    
    
print('*' * 60)

print(get_profit(df, 2019))

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270
************************************************************
None
************************************************************
382

## Задание 6.1

Дана таблица data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B']). Что выведет код print(data.shape) ?

In [ ]:
# узнаем форму матрицы в DataFrame
import pandas as pd


data_frame_ex = pd.DataFrame([[0, 1], [1, 0], [1, 1]], columns=['A', 'B'])
display(data_frame_ex)
data_frame_ex.shape

   A  B
0  0  1
1  1  0
2  1  1

(3, 2)

## Задание 6.8

Выберите верные утверждения в отношении таблицы melb_data:

In [ ]:
# используем библиотеку pandas
import pandas as pd


# читаем csv-файл и создаем переменную
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

# находим район с самым малым количеством объектов
melb_data['Regionname'].value_counts()

Regionname
Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: count, dtype: int64

In [ ]:
# узнаем есть ли у разных адресов одинаковые координаты
melb_data['Coordinates'].value_counts()

Coordinates
-37.8361, 144.9966    12
-37.8035, 144.985      8
-37.8424, 144.9449     6
-37.8231, 144.9906     5
-37.8127, 145.0094     5
                      ..
-37.7933, 144.9556     1
-37.7931, 144.9565     1
-37.7852, 144.9589     1
-37.7965, 144.9544     1
-37.9213, 145.0854     1
Name: count, Length: 13097, dtype: int64

In [16]:
# закрепляем наименование колонок
melb_data.info()
# узнаем количество домов типа тайн-хаус от общества количества типов
melb_data['Type'].value_counts(normalize=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

Type
h    0.695803
u    0.222165
t    0.082032
Name: proportion, dtype: float64

## Задание 7.3

Чему равно стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости?

In [25]:
# удомным способо работаем со столбиками и агрегирующими методами
round(melb_data['Distance'].std())

6

## Задание 7.4

Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?

In [27]:
# находим медианной значение
area_median = melb_data['BuildingArea'].median()
# кратчайшим способом находим среднее значение
area_mean = melb_data['BuildingArea'].mean()
# находим стандартное отклонение
std_result = (area_median - area_mean) / area_mean
# ответ выдаем по модулю и узнаем в процентах
abs(std_result) * 100

9.764079662364534

## Задание 7.5

Задан ряд чисел [1, 2, 4, 2, 3, 2, 1, 5, 6]. Чему равна мода в данном ряду?

In [3]:
# импортируем библиотеку
import pandas as pd


# из обьекта типа .Series будем искать моду
ser_mode = pd.Series([1, 2, 4, 2, 3, 2, 1, 5, 6])
ser_mode.mode()

0    2
dtype: int64

## Задание 7.6

Сколько спален чаще всего встречается в домах в Мельбурне?

In [4]:
# читаем для использования csv-файл
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

# находим моду в колонне Rooms
melb_data['Rooms'].mode()

0    3
Name: Rooms, dtype: int64

## Задание 8.1

У скольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты?

In [ ]:
mask = melb_data['Bathroom'] == 0
# ищем количество в таблице самым быстрым способом
melb_data[mask].shape[0]

34

## Задание 8.2

Сколько в таблице melb_data объектов недвижимости, которые были проданы риелторской компанией Nelson и стоимость которых составила больше 3 миллионов?

In [ ]:
# запомнаем как выглялит упрощенная запись фильтрации
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

5

## Задание 8.3

Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице melb_data?

In [14]:
# находим решение по ключам и с агрегирующим методом
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

## Задание 8.4

Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее одного миллиона, в которых либо количество комнат больше пяти, либо здание моложе 2015 года?

In [18]:
# находим результат фильтрации
round(melb_data[((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015)) & \
                (melb_data['Price'] < 1000000)]['Price'].mean())

769239

## Задание 8.5

В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов?

In [ ]:
# находим райно из фильтрованных условий
melb_data[(melb_data['Type'] == 'h') & melb_data['Price'] < 3000000]\
    ['Regionname'].mode()

0    Southern Metropolitan
Name: Regionname, dtype: object

## Задание 9.1

In [40]:
# импортируем библиотеку pandas
import pandas as pd


# читаем таблицу из директории data
student_data = pd.read_csv('data/students_performance.csv', sep=',')

Данные о скольких студентах содержатся в таблице?

In [42]:
# сколько строк в таблице
student_data.shape

(1000, 8)

## Задание 9.2

Каков балл по письму у студента под индексом 155?

In [ ]:
# находим информацию первым способом
print(student_data['writing score'][155])
# смотрим на результат при помощи метода .iloc()
student_data.iloc[155, 7]

88

88

## Задание 9.3

Сколько суммарно пропущенных значений в таблице?

In [ ]:
student_data.info()
# 5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

## Задание 9.4

Сколько столбцов в таблице имеет тип данных object?

In [47]:
student_data.info()
# 5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

## Задание 9.5

Какой объём памяти (в килобайтах) занимает таблица?

In [ ]:
student_data.info()
# округляем ответ
round(62.6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

63

## Задание 9.6

Каков у студентов средний балл по математике?

In [ ]:
# находим ответ из одной колонны агрегирующим методом
student_data['math score'].mean()
# даем ответ с округлением
round(student_data['math score'].mean())

66

## Задание 9.7

Какая расовая группа является самой крупной в учебном заведении?

In [ ]:
# узнаем количество уникальных обьектов
student_data['race/ethnicity'].value_counts()
# group C

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

## Задание 9.8

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [65]:
# узнаем информацию о столбце
student_data.info()
# узнаем как выглядит обьекты в столбце test preparation score
display(student_data.head())
# фильруем таблицу
mask = student_data['test preparation course'] == 'completed'
round(student_data[mask]['reading score'].mean())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

74

## Задание 9.9

Сколько студентов получили 0 баллов по математике?

In [67]:
# оствляем в таблице только людей с оценкой 0 и считаем количество таких строк
student_data[student_data['math score'] == 0]['math score'].shape[0]

1

## Задание 9.10

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [76]:
# смотрим на таблицу с офильтрованными значениями по standart и free/reduced
display(student_data[student_data['lunch'] == 'standard'].describe())
# и сравниваем их
display(student_data[student_data['lunch'] == 'free/reduced'].describe())
# округляем ответ
round(70.034109)

       math score  reading score  writing score
count  645.000000     645.000000     645.000000
mean    70.034109      71.654264      70.823256
std     13.653501      13.830602      14.339487
min     19.000000      26.000000      22.000000
25%     61.000000      63.000000      62.000000
50%     69.000000      72.000000      72.000000
75%     80.000000      82.000000      81.000000
max    100.000000     100.000000     100.000000

       math score  reading score  writing score
count  355.000000     355.000000     355.000000
mean    58.921127      64.653521      63.022535
std     15.159956      14.895339      15.433823
min      0.000000      17.000000      10.000000
25%     49.000000      56.000000      53.000000
50%     60.000000      65.000000      64.000000
75%     69.000000      75.000000      74.000000
max    100.000000     100.000000     100.000000

70

## Задание 8.11

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

In [ ]:
# считаем количество уникальных студентов и даем ответ в процентном соотношении 
display(student_data.head())
display(student_data['parental level of education'].value_counts(normalize=True))
# берем значение из таблицы и округляем 
round(0.118 * 100)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

12

## Задание 9.12

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [ ]:
student_data.head()
# по отфильтрованным таблицам будем агрегировать данные
mask_a = student_data['race/ethnicity'] == 'group A'
mask_c = student_data['race/ethnicity'] == 'group C'
# находим медианный и средние значения 
group_median = student_data[mask_a]['writing score'].median()
group_mean = student_data[mask_c]['writing score'].mean()
# смотрим на данные
print(group_median)
print(group_mean)

# ответ округляем и выдаем по модулю
print(round(abs(group_median - group_mean)))

62.0
67.82758620689656
6