## Задание 2.4

В аптеку поступают партии лекарств. Их названия находятся в списке names, количество единиц товара находится в списке counts.

Например:

names = ['chlorhexidine', 'cyntomycin', 'afobazol'] counts = [15, 18, 7]

Напишите функцию create_medications(names, counts), которая создает Series medications, индексами которой являются названия лекарств names, а значениями - их количество в поставке counts.

А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара с именем name от общего количества товаров в поставке в процентах.

Примечание. Не забудьте ипортировать библиотеки.

In [11]:
# обязательный импорт pandas
import pandas as pd


names = ['chlorhexidine', 'cyntomycin', 'afobazol'] 
counts = [15, 18, 7]

# инициализирую функцию которая даст информацию
# о всех препаратах в виде обьекта .Series
def create_medications(names, counts):
    # создаю обьект на основе данных
    medications = pd.Series(
        data = counts,
        index = names,
        name = 'medications'
    )
    
    return medications

# складываю обработанные данные в виде функции в обьект
medications = create_medications(names, counts)
print(medications)

print('*' * 60)

# узнаю долю препарата среди всех препаратов
def get_percent(medications, name):
    # узнаем количество препаратов 
    name_count = medications.loc[name]
    # узнаем общее колтчество
    sum_counts = sum(counts)
    # узнаем долю в процентах
    result = name_count * 100 / sum_counts
    
    return result


print(get_percent(medications, 'chlorhexidine'))

chlorhexidine    15
cyntomycin       18
afobazol          7
Name: medications, dtype: int64
************************************************************
37.5

## Задача 3.5

Вы работаете аналитиком в компании ScienceYou. Ваша задача — проанализировать чистую прибыль.

Доходы (income), расходы (expenses) и годы (years), соответствующие им, предоставлены вам в виде списков.

Например:

income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

Создайте функцию create_companyDF(income, expenses, years), которая возвращает DataFrame, составленный из входных данных со столбцами Income и Expenses и индексами, соответствующими годам рассматриваемого периода.

Пример такого DataFrame представлен ниже.

    Income  Expenses
2018    478     156
2019    512     130
2020    196     270

Также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанными в таблице df, за год year.

Примечание. Если информация за запрашиваемый год не указана в вашей таблице, вам необходимо вернуть None.

In [18]:
# получаем доступ к pandas
import pandas as pd


income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

# создаем функцию
def create_companyDF(income, expenses, years):
    # закрепляем работу по созданию таблицы первым способом через словарь
    company_df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses,
    })
    # расставляем ассоциативные метки
    company_df.index = years
    
    # смотрим на таблицу
    return company_df

print(create_companyDF(income, expenses, years))

# помещаем таблицу в переменную
df = create_companyDF(income, expenses, years)
# вычисляем разницу между доходом и расходом
def get_profit(df, year):
    # создаю условие проверяющее что введенный аргумент
    # действительно находится в списке ассоциативных меток
    if year in years:
        # закидываем нужные данные
        # из табылицы в переменные для проведения расчета
        income = df.loc[year, 'Income']
        expenses = df.loc[year, 'Expenses']
        result = income - expenses
        return result
    # если года в таблице нет, то возвращаю None
    else:
        return None

print('*' * 60)

print(get_profit(df, 2012))    
    
print('*' * 60)

print(get_profit(df, 2019))

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270
************************************************************
None
************************************************************
382

## Задание 6.1

Дана таблица data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B']). Что выведет код print(data.shape) ?

In [ ]:
# узнаем форму матрицы в DataFrame
import pandas as pd


data_frame_ex = pd.DataFrame([[0, 1], [1, 0], [1, 1]], columns=['A', 'B'])
display(data_frame_ex)
data_frame_ex.shape

   A  B
0  0  1
1  1  0
2  1  1

(3, 2)

## Задание 6.8

Выберите верные утверждения в отношении таблицы melb_data:

In [ ]:
# используем библиотеку pandas
import pandas as pd


# читаем csv-файл и создаем переменную
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

# находим район с самым малым количеством объектов
melb_data['Regionname'].value_counts()

Regionname
Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: count, dtype: int64

In [ ]:
# узнаем есть ли у разных адресов одинаковые координаты
melb_data['Coordinates'].value_counts()

Coordinates
-37.8361, 144.9966    12
-37.8035, 144.985      8
-37.8424, 144.9449     6
-37.8231, 144.9906     5
-37.8127, 145.0094     5
                      ..
-37.7933, 144.9556     1
-37.7931, 144.9565     1
-37.7852, 144.9589     1
-37.7965, 144.9544     1
-37.9213, 145.0854     1
Name: count, Length: 13097, dtype: int64

In [16]:
# закрепляем наименование колонок
melb_data.info()
# узнаем количество домов типа тайн-хаус от общества количества типов
melb_data['Type'].value_counts(normalize=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

Type
h    0.695803
u    0.222165
t    0.082032
Name: proportion, dtype: float64