## Создание DataFrame

### Способ 1

In [5]:
import pandas as pd


# создаем таблицу при помощи словаря и pd.DataFrame
countries_df = pd.DataFrame({
    'countries': ['Англия', 'Канада', 'США', 'Россия'],
    'population': [56.29, 38.05, 322.48, 146.24],
    'area': [133396, 9984670, 9826630, 17125191]
})

display(countries_df)

print('*' * 60)

# такая запись индексирует таблицу
countries_df.index = ['UK', 'CA', 'US', 'RU']

display(countries_df)

  countries  population      area
0    Англия       56.29    133396
1    Канада       38.05   9984670
2       США      322.48   9826630
3    Россия      146.24  17125191

************************************************************

   countries  population      area
UK    Англия       56.29    133396
CA    Канада       38.05   9984670
US       США      322.48   9826630
RU    Россия      146.24  17125191

### способ 2

In [8]:
# использование вложенных списков также позволяет создавать .DataFrame()
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191]
    ],
    columns = ['country', 'population', 'area'],
    index = ['UK', 'CA', 'US', 'RU']
)

display(countries_df)

   country  population      area
UK  Англия       56.29    133396
CA  Канада       38.05   9984670
US     США      322.28   9826630
RU  Россия      146.24  17125191

## axis в DataFrame

In [11]:
# считаем среднее значение по строкам
print(countries_df.mean(axis=0, numeric_only=True))

print('*' * 60)

# считаем среднее значение по столбцам
countries_df.mean(axis=1, numeric_only=True )

population        140.715
area          9267471.750
dtype: float64
************************************************************

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
dtype: float64

## Доступ к данным в DataFrame

In [16]:
# получаем данные о количестве населения
print(countries_df.population)

print('*' * 60)

# получаем данные о количестве населения другим способом
print(countries_df['population'])

print('*' * 60)

# получаем информацию о типе такой информации
type(countries_df.population)

UK     56.29
CA     38.05
US    322.28
RU    146.24
Name: population, dtype: float64
************************************************************
UK     56.29
CA     38.05
US    322.28
RU    146.24
Name: population, dtype: float64
************************************************************

pandas.core.series.Series

### .loc[], .iloc[]

In [ ]:
# узнаем информацию о населении России
print(countries_df.loc['RU', 'population'])

print('*' * 60)

# узнаем информацию о населении и площади России одновременно 
print(countries_df.loc['RU', ['population', 'area']])

print('*' * 60)

# берем вырезки из таблицы
print(countries_df.loc[['CA', 'US', 'RU'], ['population', 'area']])

print('*' * 60)

# берем вырезки из таблицы при помощи индексов
countries_df.iloc[1:3, 1:3]

146.24
************************************************************
population      146.24
area          17125191
Name: RU, dtype: object
************************************************************
    population      area
CA       38.05   9984670
US      322.28   9826630
RU      146.24  17125191
************************************************************

    population     area
CA       38.05  9984670
US      322.28  9826630