In [1]:
# импортируюем библиотеку
import pandas as pd


# читаем csv-файл
melb_df = pd.read_csv('data/melb_data_fe.csv', sep=',')
display()

# выводим все предыдущие изменения таблицы
# меняю тип признака
melb_df['Date'] = pd.to_datetime(melb_df['Date'])

# помещаю ряд в переменную для подготовки признака
quarter_column = melb_df['Date'].dt.quarter

# создаю список исключений
exclude_list = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
# создаю переменную для фильтрации
max_unique_count = 150
# расматриваем каждый признак
for col in melb_df.columns:
    # условием выбираем нужные признаки
    if melb_df[col].nunique() < max_unique_count and col not in exclude_list:
        melb_df[col] = melb_df[col].astype('category')

## Задание 1.1

Преобразуйте столбец Date в формат datetime и выделите квартал (quarter) продажи объектов недвижимости. Найдите второй по популярности квартал продажи. В качестве ответа запишите число объектов, проданных в этом квартале.

In [3]:
# меняю тип признака
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
display(melb_df['Date'])

# помещаю ряд в переменную для подготовки признака
quarter_column = melb_df['Date'].dt.quarter
display(quarter_column)
# отображаем количество уникальных элементов
display(quarter_column.value_counts())
# 4359

0       2016-03-12
1       2016-04-02
2       2017-04-03
3       2017-04-03
4       2016-04-06
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

0        1
1        2
2        2
3        2
4        2
        ..
13575    3
13576    3
13577    3
13578    3
13579    3
Name: Date, Length: 13580, dtype: int32

Date
3    4873
2    4359
4    2329
1    2019
Name: count, dtype: int64

## Заданине 1.2

Преобразуйте все столбцы, в которых меньше 150 уникальных значений, в тип данных category, исключив из преобразования столбцы Date, Rooms, Bedroom, Bathroom, Car.

В качестве ответа запишите результирующее количество столбцов, которые имеют тип данных category.

In [4]:
# создаю список исключений
exclude_list = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
# создаю переменную для фильтрации
max_unique_count = 150
# расматриваем каждый признак
for col in melb_df.columns:
    # условием выбираем нужные признаки
    if melb_df[col].nunique() < max_unique_count and col not in exclude_list:
        melb_df[col] = melb_df[col].astype('category')

display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB

None

In [ ]:
display(melb_df.columns)

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Date',
       'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car', 'Landsize',
       'BuildingArea', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname',
       'Propertycount', 'MeanRoomsSquare', 'AreaRatio', 'MonthSale',
       'AgeBuilding', 'WeekdaySale', 'StreetType', 'Weekend'],
      dtype='object')

## Задание 2.2

Произведите сортировку столбца AreaRatio по убыванию. После сортировки замените индексы таблицы на новые. Какое значение площади здания находится в строке 1558? Ответ округлите до целого числа.

In [ ]:
# создаем копию и смотрим как будет выглядеть осортированный список
melb_sorted = melb_df.sort_values(by='AreaRatio', ascending=False, \
    ignore_index=True).copy()

display(melb_sorted.head(10))
display(melb_sorted.tail(10))

# смотрим какое значение по площади в строке 1558
display(melb_sorted['BuildingArea'].iloc[1558])

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,1,unit,441000.0,SP,Greg,2016-05-14,2.5,3067,1,...,144.9988,Northern Metropolitan,4019,42.000000,1.0,5,46,5,St,1
1,Abbotsford,2,unit,750000.0,S,Biggin,2016-12-11,2.5,3067,2,...,144.9965,Northern Metropolitan,4019,15.666667,1.0,12,7,6,St,1
2,Abbotsford,2,unit,700000.0,VB,Jellis,2016-12-11,2.5,3067,2,...,145.0067,Northern Metropolitan,4019,21.000000,1.0,12,46,6,St,1
3,Abbotsford,1,unit,300000.0,S,Biggin,2016-08-10,2.5,3067,1,...,144.9973,Northern Metropolitan,4019,42.000000,1.0,8,46,2,St,0
4,Abbotsford,2,unit,500000.0,S,Collins,2016-06-18,2.5,3067,2,...,144.9972,Northern Metropolitan,4019,12.000000,1.0,6,46,5,St,1
5,Abbotsford,3,townhouse,900000.0,S,other,2017-03-18,2.5,3067,3,...,144.9959,Northern Metropolitan,4019,15.750000,1.0,3,7,5,St,1
6,Hawthorn,1,unit,488000.0,S,Marshall,2016-10-12,4.6,3122,1,...,145.0343,Southern Metropolitan,11308,19.000000,1.0,10,12,2,Rd,0
7,Hawthorn,1,unit,450000.0,S,Collins,2017-11-03,4.6,3122,1,...,145.0242,Southern Metropolitan,11308,42.000000,1.0,11,47,4,Rd,0
8,Hawthorn,1,unit,350000.0,VB,Noel,2016-12-11,4.6,3122,1,...,145.0456,Southern Metropolitan,11308,17.000000,1.0,12,56,6,Rd,1
9,Hawthorn,2,unit,645000.0,S,Jellis,2016-12-11,4.6,3122,2,...,145.0353,Southern Metropolitan,11308,25.200000,1.0,12,46,6,St,1

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
13570,Craigieburn,3,house,412500.0,S,other,2017-08-26,20.6,3064,3,...,144.91100,Northern Metropolitan,15510,0.0,-1.0,8,5,5,St,1
13571,other,3,house,1205000.0,SA,other,2017-09-23,12.3,3166,3,...,145.10851,Southern Metropolitan,768,0.0,-1.0,9,57,5,St,1
13572,North Melbourne,2,townhouse,841000.0,S,Jellis,2017-04-03,2.3,3051,2,...,144.94370,Northern Metropolitan,6821,0.0,-1.0,4,17,0,other,0
13573,other,3,house,803000.0,S,other,2017-08-26,26.0,3137,3,...,145.32092,Eastern Metropolitan,4654,0.0,-1.0,8,47,5,Dr,1
13574,Bundoora,4,house,815000.0,S,Ray,2017-08-26,12.1,3083,4,...,145.05556,Northern Metropolitan,10175,0.0,-1.0,8,52,5,Dr,1
13575,Port Melbourne,4,townhouse,2455000.0,SP,Marshall,2017-08-26,3.5,3207,4,...,144.94840,Southern Metropolitan,8648,0.0,-1.0,8,7,5,St,1
13576,Prahran,3,house,1390000.0,S,Marshall,2017-08-19,4.6,3181,3,...,145.00296,Southern Metropolitan,7717,0.0,-1.0,8,15,5,Rd,1
13577,Bundoora,3,house,814000.0,S,Barry,2017-03-09,12.1,3083,3,...,145.05691,Northern Metropolitan,10175,0.0,-1.0,3,47,3,Cr,0
13578,Balwyn North,5,house,1950000.0,S,RT,2017-03-09,9.7,3104,5,...,145.09311,Southern Metropolitan,7809,0.0,-1.0,3,68,3,Av,0
13579,Moorabbin,3,house,1290000.0,S,Ray,2017-08-26,14.3,3189,3,...,145.04938,Southern Metropolitan,2555,0.0,-1.0,8,47,5,Av,1

257.0

## Задание 2.3

Найдите таунхаусы (Type) с количеством жилых комнат (Rooms) больше 2. Отсортируйте полученную таблицу сначала по возрастанию числа комнат, а затем по убыванию средней площади комнат (MeanRoomsSquare). Индексы таблицы замените на новые. Какая цена будет у объекта в строке 18? Ответ запишите в виде целого числа.

In [11]:
# маской отфильтровываем нужный тип
mask_one = melb_df['Type'] == 'townhouse'
# отфильтровываем количество комнат
mask_two = melb_df['Rooms'] > 2
# сортируем отфильтрованную таблицу с требуемыми параметрами 
melb_sorted = melb_df[mask_one & mask_two].sort_values(
    by=['Rooms', 'MeanRoomsSquare'],
    ascending=[True, False],
    ignore_index=True
).copy()
# смотрим на первые пять строк 
display(melb_sorted.head())
# смотрим на строку 18 в удобном формате
display(melb_sorted.iloc[18])
# узнаем цену обьекта в строке 18
display(melb_sorted['Price'].iloc[18])

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,other,3,townhouse,1900000.0,PI,other,2017-08-07,24.8,3156,3,...,145.29371,Eastern Metropolitan,10788,62.750000,-0.576550,8,47,0,Cr,0
1,Brighton,3,townhouse,3275000.0,SP,Marshall,2017-06-24,10.5,3186,3,...,144.99233,Southern Metropolitan,10579,46.451525,0.125054,6,47,5,St,1
2,Moonee Ponds,3,townhouse,1345000.0,SP,Barry,2016-05-22,6.9,3039,3,...,144.91260,Western Metropolitan,6232,35.875000,-0.038526,5,86,6,St,1
3,Ashburton,3,townhouse,2050000.0,S,Fletchers,2016-03-12,11.0,3147,3,...,145.07140,Southern Metropolitan,3052,35.000000,0.008000,3,2,5,St,1
4,Strathmore,3,townhouse,925000.0,S,other,2017-08-04,9.7,3041,3,...,144.92280,Western Metropolitan,3284,32.555556,-0.308962,8,47,4,St,0

Suburb                     Brighton East
Rooms                                  3
Type                           townhouse
Price                          1300000.0
Method                                PI
SellerG                           Buxton
Date                 2016-09-17 00:00:00
Distance                            10.7
Postcode                            3187
Bedroom                                3
Bathroom                               2
Car                                    2
Landsize                           337.0
BuildingArea                       222.0
CouncilArea                      Bayside
Lattitude                       -37.9196
Longtitude                      145.0205
Regionname         Southern Metropolitan
Propertycount                       6938
MeanRoomsSquare                    27.75
AreaRatio                      -0.205725
MonthSale                              9
AgeBuilding                           16
WeekdaySale                            5
StreetType                            St
Weekend                                1
Name: 18, dtype: object

1300000.0

## Задание 3.1

Сгруппируйте данные по признаку количества комнат и найдите среднюю цену объектов недвижимости в каждой группе. В качестве ответа запишите количество комнат, для которых средняя цена наибольшая.

In [ ]:
# применяем агрегирующий метод на сгрупированный признак показывающий цену
melb_df.groupby(by='Rooms')['Price'].mean().sort_values(ascending=False)
# 7

Rooms
7     1.920700e+06
5     1.870260e+06
6     1.849366e+06
8     1.602750e+06
4     1.445282e+06
3     1.076081e+06
10    9.000000e+05
2     7.750812e+05
1     4.338245e+05
Name: Price, dtype: float64

## Задание 3.2

Какой регион имеет наименьшее стандартное отклонение по географической широте (Lattitude)?

В качестве ответа запишите название этого региона.

In [16]:
# находим наименьшее стандартное отклонение по географической широте
# сгрупированного признака 
melb_df.groupby(by='Regionname')['Lattitude'].std().sort_values()

/tmp/ipykernel_5292/2934711539.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  melb_df.groupby(by='Regionname')['Lattitude'].std().sort_values()

Regionname
Western Victoria              0.011579
Southern Metropolitan         0.043080
Eastern Metropolitan          0.047890
Northern Metropolitan         0.049639
Western Metropolitan          0.051251
South-Eastern Metropolitan    0.073411
Northern Victoria             0.084455
Eastern Victoria              0.147067
Name: Lattitude, dtype: float64

## Задание 3.3

Какая риелторская компания (SellerG) имеет наименьшую общую выручку за период с 1 мая по 1 сентября (включительно) 2017 года?

Для ответа на этот вопрос рассчитайте сумму продаж (Price) каждой компании в заданный период.

Не забудьте перевести даты в формат datetime.

In [32]:
# фильтруем таблицу по времени при помощи масок
mask_one = melb_df['Date'] >= pd.to_datetime('2017-05-01')
mask_two = melb_df['Date'] <= pd.to_datetime('2017-09-01')
# отфильтрованную таблицу заносим в переменную и создаём копию
filltered_melb = melb_df[mask_one & mask_two].copy()
# группируем по риэлторским комапаниям за указанный период времени
# и находим ту, которая имеет наименьшую сумму продаж
filltered_row = filltered_melb.groupby(by='SellerG')['Price'].sum().sort_values()
# беремем имя самой маллой по выручке компании и красиво печатаем
print(f'SellerG with lowest ptice is: {filltered_row.index[0]}')

SellerG with lowest ptice is: LITTLE

/tmp/ipykernel_5292/3034113908.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  filltered_row = filltered_melb.groupby(by='SellerG')['Price'].sum().sort_values()

## Задание 4.2

Составьте сводную таблицу, которая показывает зависимость медианной площади (BuildingArea) здания от типа объекта недвижимости (Type) и количества жилых комнат в доме (Rooms). Для какой комбинации признаков площадь здания наибольшая?

В качестве ответа запишите эту комбинацию (тип здания, число комнат) через запятую, без пробелов.

In [ ]:
# создаём сводную таблицу
melb_df.pivot_table(
    values='BuildingArea',
    index='Rooms',
    columns='Type',
    aggfunc='median',
    fill_value=0
)


# house,7

Type   house  townhouse   unit
Rooms
1      126.0       88.0   69.5
2      126.0      114.0  110.0
3      126.0      126.0  126.0
4      141.0      159.5  126.0
5      177.0      152.0    0.0
6      126.0        0.0  171.0
7      216.5        0.0    0.0
8      126.0        0.0  126.0
10     126.0        0.0    0.0

## Задание 4.3


Составьте сводную таблицу, которая показывает зависимость медианной цены объекта недвижимости (Price) от риелторского агентства (SellerG) и типа здания (Type).

Во вновь созданной таблице найдите агентство, у которого медианная цена для зданий типа unit максимальна. В качестве ответа запишите название этого агентства.

In [ ]:
# составляем сводную таблицу
pivot = melb_df.pivot_table(
    values='Price',
    index='SellerG',
    columns='Type',
    aggfunc='median',
    fill_value=0
).sort_values(by='unit', ascending=False)
# отображаем таблицу
display(pivot)
# красиво печатаем
print(f'SellerG with maximum median price in unit type is: {pivot.index[0]}')

Type               house  townhouse      unit
SellerG
Nick           2025000.0   780000.0  900000.0
Marshall       1975000.0  1408500.0  715000.0
Cayzer         1505000.0  1450000.0  707500.0
Kay            2220000.0  1365000.0  695000.0
Noel           1400500.0   990000.0  693250.0
Buxton         1323750.0  1030000.0  670000.0
Fletchers      1390000.0  1238000.0  653000.0
Chisholm       1520000.0   950000.0  640000.0
Philip         1035000.0   701000.0  636000.0
RT             1640000.0  1400000.0  630000.0
C21             836500.0   768750.0  625500.0
RW              870000.0   630500.0  625500.0
Moonee          806000.0   715000.0  622000.0
O'Brien         737504.0   430000.0  618500.0
Hodges         1500000.0  1105000.0  605500.0
Eview           760000.0   597500.0  602000.0
Woodards       1261000.0   865500.0  600000.0
Collins        1566500.0   930000.0  592000.0
Jellis         1505000.0  1052000.0  591750.0
Purplebricks    810000.0   927500.0  582500.0
Williams       1161000.0   735000.0  577000.0
hockingstuart  1055000.0   935000.0  566000.0
Alexkarbon     1036250.0   935000.0  560000.0
Miles          1090000.0   721500.0  555000.0
Buckingham      830000.0   820000.0  553000.0
Gary           1370000.0   993500.0  550000.0
Biggin         1151750.0   675000.0  548000.0
Greg           1330000.0   900000.0  547500.0
McGrath        1250000.0   810000.0  542500.0
other           901000.0   840500.0  535000.0
Nelson         1055000.0   730000.0  530000.0
HAR             695000.0        0.0  518000.0
McDonald       1242500.0        0.0  502500.0
Barry           830000.0   727500.0  502000.0
Harcourts       740000.0   653750.0  500000.0
Ray             900000.0   650000.0  497500.0
Thomson        1177000.0   500000.0  495000.0
Douglas         684000.0   500000.0  494500.0
Brad            875000.0   700000.0  465000.0
Rendina        1190000.0   750000.0  459000.0
Bells           692500.0   430500.0  457500.0
Jas             935000.0   699000.0  455000.0
Raine           745000.0   608000.0  447500.0
LITTLE          970000.0   800000.0  447000.0
YPA             596250.0   498500.0  443500.0
Love            780000.0   846000.0  440000.0
Village         973500.0   727500.0  420000.0
Stockdale       715500.0   550000.0  410000.0
Sweeney         850000.0   728000.0  381000.0
Burnham         922500.0        0.0  305000.0

SellerG with maximum median price in unit type is: Nick

## Задание 5.2

Сколько уникальных (по названию) фильмов представлено в таблице movies?

In [2]:
# читаю библиотеку
import pandas as pd


# знакомлюсь с новыми таблицами
raitings1_df = pd.read_csv('data/ratings1.csv', sep=',')
raitings2_df = pd.read_csv('data/ratings2.csv', sep=',')
movies_df = pd.read_csv('data/movies.csv', sep=',')
dates_df = pd.read_csv('data/dates.csv', sep=',')

In [28]:
movies_unique = movies_df.describe(include='object')
display(movies_df['title'].value_counts())
print('*' * 60)
print(f'Number of unique values is: {movies_unique.loc['unique', 'title']}')

title
Emma (1996)                                            2
War of the Worlds (2005)                               2
Eros (2004)                                            2
Confessions of a Dangerous Mind (2002)                 2
Saturn 3 (1980)                                        2
                                                      ..
Rape Me (Baise-moi) (2000)                             1
Alice (1990)                                           1
Another Woman (1988)                                   1
Beach Blanket Bingo (1965)                             1
Crimson Rivers, The (Rivières pourpres, Les) (2000)    1
Name: count, Length: 9737, dtype: int64

************************************************************
Number of unique values is: 9737

## Задание 5.3

Сколько уникальных пользователей в таблице ratings1?

In [ ]:
# смотрим на таблицу 
display(raitings1_df)
# смотрим на количество уникальных значений 
# и количестово каждого уникального значения
display(raitings1_df['userId'].value_counts())
# смотрим только на количество уникальных значений
display(raitings1_df['userId'].nunique())
# красиво выводим это число 
print(f'Number of unique users is: {raitings1_df['userId'].nunique()}')

       userId  movieId  rating
0           1        1     4.0
1           1        3     4.0
2           1        6     4.0
3           1       47     5.0
4           1       50     5.0
...       ...      ...     ...
39996     274     5582     2.5
39997     274     5585     3.5
39998     274     5588     3.5
39999     274     5618     4.0
40000     274     5621     2.0

[40001 rows x 3 columns]

userId
68     1260
249    1046
182     977
177     904
232     862
       ...
194      20
53       20
147      20
207      20
257      20
Name: count, Length: 274, dtype: int64

274

Number of unique users is: 274

## Задание 5.4

В каком году было выставлено больше всего оценок?

Для ответа на этот вопрос используйте таблицу dates.

In [61]:
display(dates_df)
# узнаю какой тип
display(dates_df.info())
# переводим тип данных на datetime
dates_df = pd.to_datetime(dates_df)
# снова узнаю тип данных
display(dates_df.info())
# создаю ряд только их годов для удобства преброски складываю все в переменную
dates_year = dates_df.dt.year
# рассматриваю ряд из годов
display(dates_year)
# красиво печатаю ответ
print(f'Year with raiting max number is: {dates_year.value_counts()\
    .index[0]}')
# перепроверяю, что двухтысячный год имеет самое большое количество оцнок
dates_year.value_counts()

0        2000-07-30 18:45:03
1        2000-07-30 18:20:47
2        2000-07-30 18:37:04
3        2000-07-30 19:03:35
4        2000-07-30 18:48:51
                 ...
100831   2017-05-03 21:53:22
100832   2017-05-03 22:21:31
100833   2017-05-08 19:50:47
100834   2017-05-03 21:19:12
100835   2017-05-03 21:20:15
Name: date, Length: 100836, dtype: datetime64[ns]

<class 'pandas.core.series.Series'>
RangeIndex: 100836 entries, 0 to 100835
Series name: date
Non-Null Count   Dtype
--------------   -----
100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 787.9 KB

None

<class 'pandas.core.series.Series'>
RangeIndex: 100836 entries, 0 to 100835
Series name: date
Non-Null Count   Dtype
--------------   -----
100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 787.9 KB

None

0         2000
1         2000
2         2000
3         2000
4         2000
          ...
100831    2017
100832    2017
100833    2017
100834    2017
100835    2017
Name: date, Length: 100836, dtype: int32

Year with raiting max number is: 2000

date
2000    10061
2017     8198
2007     7114
2016     6703
2015     6616
2018     6418
1996     6040
2005     5813
2012     4656
2008     4351
2009     4158
2006     4059
2003     4014
2001     3922
2002     3478
2004     3279
1999     2439
2010     2301
1997     1916
2011     1690
2013     1664
2014     1439
1998      507
Name: count, dtype: int64

## Задание 6.3

В ваше распоряжение предоставлена директория users ('./Root/users'). В данной директории содержатся csv-файлы, в каждом из которых хранится информация об идентификаторах пользователей (user_id) и ссылках на их фотографии (image_url). Количество файлов в директории может быть любым.

Вам необходимо написать функцию concat_user_files(path), параметром которой является path — путь до директории.

Функция должна:

    Объединить информацию из всех csv-файлов в единый DataFrame.
    Удалить дубликаты.
    Обновить индексы результирующей таблицы.
    Отсортировать пользователей по числовой части user_id (игнорируя буквенную часть).

Например, если в директории users есть несколько csv-файлов, то результирующая таблица должна выглядеть так:

In [ ]:
import pandas as pd
# импортирую модуль os 
import os
# импортирую библиотеку для извлечения csv_файлов
import glob




# инициализирую функцию
def concat_user_files(path): 
    # собираю все файлы csv в одном месте
    csv_files = glob.glob(os.path.join(path, '*.csv'))
    # создаю пустую таблицу
    concat_df = pd.DataFrame()
    
    # прохожусь циклом по всем элементам и выполняю манипуляции
    for elem in csv_files:
        df = pd.read_csv(elem, sep=',')
        concat_df = df
        break
    # конкатенирую таблицы
    for elem in csv_files:
        df = pd.read_csv(elem, sep=',')
        concat_df = pd.concat([concat_df, df], ignore_index=True)
    # убирую одинаковые элементы
    concat_df = concat_df.drop_duplicates(ignore_index=True)
    
    # пишем функцию, которая создает признак из цифр в строке user_id
    def sort_func(userid):
        # отделяем буквенную часть срезом
        result_number = userid[2:6]
        # возвращаем значение переведенное в числовое значение
        return int(result_number)
    
    # применяю функцию и создаю новый признак
    sort_column = concat_df['user_id'].apply(sort_func)
    # добавляю признак в главную таблицу
    concat_df['Sortcolumn'] = sort_column
    # сортирую главную таблицу по числовому признаку
    concat_df = concat_df.sort_values(by=['Sortcolumn'], ignore_index=True)
    # удаляем числовую таблицу
    concat_df = concat_df.drop(['Sortcolumn'], axis=1)
    
    return concat_df

In [3]:
a = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': [103, 214, 124], 'C': [1, 4, 2]})
b = pd.DataFrame({'V': ['d', 'b', 'c'], 'U': [1393.7, 9382.2, 1904.5], 'C': [1, 3, 2]})

merged = a.merge(b, how='right',on='C')
display(merged)

     A      B  C  V       U
0    a  103.0  1  d  1393.7
1  NaN    NaN  3  b  9382.2
2    c  124.0  2  c  1904.5

## Задание 7.3

Информация в таблицах представлена в виде следующих столбцов:

    item_id — идентификатор модели;
    vendor — производитель модели;
    stock_count — имеющееся на складе количество данных моделей (в штуках);
    purchase_id — идентификатор покупки;
    price — стоимость модели в покупке.

Вам необходимо сделать следующее:

Сформируйте DataFrame merged, так чтобы после объединения purchase_df и items_df остались модели, которые учтены на складе и имели продажи.

На основе таблицы merged найдите суммарную выручку, которую можно было бы получить от продажи всех товаров, имеющихся на складе. Результат занесите в переменную income.

In [12]:
import pandas as pd

items_df = pd.DataFrame({
            'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],
            'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
            'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
        })

purchase_df = pd.DataFrame({
            'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
            'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],
            'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
        })

display(items_df)
display(purchase_df)

# остваляем  только те товары, которые есть на складе
merged = items_df.merge(
    purchase_df,
    on='item_id',
    how='inner'
)
display(merged)
# перемножаем две колонны и 
# находим общуюю стоимость товаров имеющихся на складе
merged['multiply'] = merged['stock_count'] * merged['price']
# находим сумму всех строк
income = merged['multiply'].sum()
# удаляем лишнюю талицу
merged = merged.drop(['multiply'], axis=1)
display(merged)
print(income)

   item_id   vendor  stock_count
0   417283  Samsung           54
1   849734       LG           33
2   132223    Apple          122
3   573943    Apple           18
4    19475       LG          102
5  3294095    Apple           43
6   382043  Samsung           77
7   302948  Samsung          143
8   100132       LG           60
9   312394      ZTE           19

   purchase_id  item_id  price
0          101   417283  13900
1          101   849734   5330
2          101   132223  38200
3          112   573943  49990
4          121    19475   9890
5          145  3294095  33000
6          145   382043  67500
7          145   302948  34500
8          145   103845  89900
9          221   100132  11400

   item_id   vendor  stock_count  purchase_id  price
0   417283  Samsung           54          101  13900
1   849734       LG           33          101   5330
2   132223    Apple          122          101  38200
3   573943    Apple           18          112  49990
4    19475       LG          102          121   9890
5  3294095    Apple           43          145  33000
6   382043  Samsung           77          145  67500
7   302948  Samsung          143          145  34500
8   100132       LG           60          221  11400

   item_id   vendor  stock_count  purchase_id  price
0   417283  Samsung           54          101  13900
1   849734       LG           33          101   5330
2   132223    Apple          122          101  38200
3   573943    Apple           18          112  49990
4    19475       LG          102          121   9890
5  3294095    Apple           43          145  33000
6   382043  Samsung           77          145  67500
7   302948  Samsung          143          145  34500
8   100132       LG           60          221  11400

19729490

## Закрепление знаний

### .findall()

In [1]:
# выделяем из столбца title год
# используем функцию и функционал модуля re - регулярные выражения
# выделяем из строки число
import re


def get_year_release(arg):
    candidates = re.findall(r'\(\d{4}\)', arg)
    if len(candidates) > 0:
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        return None

In [2]:
import pandas as pd


ratings_movies = pd.read_csv('data/ratings_movies.csv', sep=',')

### Задание 8.1

Создайте в таблице новый признак year_release, который соответствует году выпуска фильма.

У скольких фильмов не указан год их выпуска?
нет ответа

In [3]:
ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)
display(ratings_movies)
display(ratings_movies.info())
print('Number of movies without year release is: 18')

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0
...,...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller,2017.0
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller,2017.0
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror,2017.0
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi,2017.0
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,2017.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

None

Number of movies without year release is: 18

### Задание 8.2

Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?

В качестве ответа запишите название этого фильма без указания года его выпус

In [8]:
# фильтруем таблицу
mask_one = ratings_movies['year_release'] == 1999.0
filtered = ratings_movies[mask_one]
# функция предназначена дял того чтобы очистьить от даты наименование фильма
def filter_func(arg):
    if arg[-6:] == '(1999)':
        arg = arg.replace(arg[-6:], '')
    return arg    
# применяем и чистим признак
filtered['title'] = filtered['title'].apply(filter_func)
# конструируем сводную таблицу для визуализации
mean_ratings = filtered.pivot_table(
    values='rating',
    index='title',
    columns='userId',
    aggfunc='mean',
    fill_value=0
)
# демонстрирую таблицу
display(mean_ratings)
# указываем правельную ось для нахождения среднего значения строк
mean_column = mean_ratings.mean(axis=1)
# смотримна на самый непопулярный по рейтингам фильм
display(mean_column.sort_values())
# красиво печатаем
print(f'Movie with lowest mean rating is: {mean_column.sort_values().index[0]}')

/tmp/ipykernel_3686/2380098252.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['title'] = filtered['title'].apply(filter_func)

userId,1,4,7,9,10,12,13,15,16,17,...,597,599,600,601,603,605,606,607,608,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,3.0,3.0,3.0,0.0,3.0,5.0,0.0,0.0,0.0,0.0
"13th Warrior, The",4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
200 Cigarettes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
8 ½ Women (a.k.a. 8 1/2 Women) (a.k.a. Eight and a Half Women),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,3.0,0.0,0.0,0.0
8MM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.5,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Winslow Boy, The",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Witch Hunt,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wonderland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"World Is Not Enough, The",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
eXistenZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.5,0.0,0.0,5.0,0.0,0.0,0.0,4.5,0.0

title
Bloodsport: The Dark Kumite                         0.001139
Simon Sez                                           0.002278
Source, The                                         0.002278
From Dusk Till Dawn 2: Texas Blood Money (1999)     0.002278
Julien Donkey-Boy                                   0.002278
                                                      ...
Green Mile, The                                     1.048975
Sixth Sense, The                                    1.587699
American Beauty                                     1.884966
Fight Club                                          2.121868
Matrix, The                                         2.654897
Length: 261, dtype: float64

Movie with lowest mean rating is: Bloodsport: The Dark Kumite

## Задание 8.3

Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)?

Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [ ]:
# демонстрирую первый способ
# создаю маску для фильтрации
mask_one = ratings_movies['year_release'] == 2010.0
# создаю копию для работы в ней 
filtered = ratings_movies[mask_one].copy()
filtered.groupby(by='genres')['rating'].mean().sort_values()

genres
Action|Sci-Fi                        1.000000
Crime|Romance                        1.500000
Action|Drama|Fantasy                 1.500000
Action|Adventure|Horror              1.500000
Adventure|Comedy|Fantasy             1.833333
                                       ...
Action|Adventure|Drama|War           4.750000
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Comedy|Musical                       5.000000
Name: rating, Length: 119, dtype: float64

In [ ]:
# демонстрирую второй способ
# создаю маску для фильтрации
mask_one = ratings_movies['year_release'] == 2010.0
# создаю копию для работы в ней 
filtered = ratings_movies[mask_one].copy()
display(filtered)
# создаю сводную таблицк для визуализации
filtered_pivot = filtered.pivot_table(
    values='rating',
    index='genres',
    columns='userId',
    fill_value=0
)
display(filtered_pivot)
# считаем среднее значение для всех комбинаций, указав верную ось 
filtered_mean = filtered_pivot.mean(axis=1)
display(filtered_mean.sort_values())
# красиво печатаем ответ
print(f'Combination with lowest mean rating is: {filtered_mean.sort_values().\
    index[0]}')

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
244,244,2,74458,4.0,2015-10-24 19:28:46,Shutter Island (2010),Drama|Mystery|Thriller,2010.0
245,245,2,77455,3.0,2015-10-24 19:29:01,Exit Through the Gift Shop (2010),Comedy|Documentary,2010.0
246,246,2,79132,4.0,2015-10-24 19:27:21,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX,2010.0
247,247,2,80489,4.5,2015-10-24 19:35:40,"Town, The (2010)",Crime|Drama|Thriller,2010.0
248,248,2,80906,5.0,2015-10-24 19:32:52,Inside Job (2010),Documentary,2010.0
...,...,...,...,...,...,...,...,...
100521,100521,610,89028,3.5,2017-05-03 21:56:46,Don't Be Afraid of the Dark (2010),Horror|Thriller,2010.0
100522,100522,610,89072,4.0,2017-05-03 21:55:45,Stake Land (2010),Horror,2010.0
100524,100524,610,89281,3.5,2017-05-03 22:02:14,Birdemic: Shock and Terror (2010),Romance|Thriller,2010.0
100525,100525,610,89582,4.5,2016-11-19 08:50:03,Cold Fish (Tsumetai nettaigyo) (2010),Drama|Thriller,2010.0
100548,100548,610,93193,3.0,2017-05-03 22:20:13,Red Hill (2010),Crime|Thriller|Western,2010.0

userId,2,10,15,16,17,18,21,22,24,25,...,585,586,590,596,598,599,601,605,606,610
genres,,,,,,,,,,,,,,,,,,,,,
Action,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,5.0
Action|Adventure|Children|Comedy|Fantasy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Action|Adventure|Comedy|Crime|Drama|Film-Noir|Horror|Mystery|Thriller|Western,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
Action|Adventure|Comedy|Crime|Thriller,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0
Action|Adventure|Comedy|Drama|War,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Mystery|Thriller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
Romance|Thriller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
Sci-Fi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Sci-Fi|Thriller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Western,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,3.0,0.0,3.0,0.0,0.0,0.0,4.0

genres
Action|Sci-Fi                                       0.004854
Action|Adventure|Horror                             0.007282
Action|Drama|Fantasy                                0.007282
Crime|Romance                                       0.007282
Action|Children|Comedy                              0.009709
                                                      ...
Adventure|Animation|Children|Fantasy|IMAX           1.014563
Adventure|Animation|Children|Comedy|Fantasy|IMAX    1.143204
Drama|Mystery|Thriller                              1.393204
Drama                                               1.822108
Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX     2.822816
Length: 119, dtype: float64

Combination with lowest mean rating is: Action|Sci-Fi

### Задание 8.4

Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.

In [27]:
# создаю таблицу из списков уникальных сочетаий жанров и их множеством
# для каждого пользователя
unique_set = ratings_movies.groupby(by='userId')['genres'].agg(
    ['nunique', set]
)
# находим кто посмотриел наибольшее количество сочетаний
display(unique_set.sort_values(by='nunique'))
print(f'UserId with max unique genres is: {unique_set.sort_values(by='nunique' \
    , ascending=False).index[0]}')

        nunique                                                set
userId
245          13  {Drama|Romance, Comedy|Crime|Drama, Documentar...
85           13  {Drama|Romance, Comedy|Drama, Action|Comedy|Sc...
214          13  {Drama|Romance, Crime|Drama|Mystery|Thriller, ...
578          15  {Drama|Romance, Comedy|Drama, Comedy|Drama|Rom...
494          15  {Adventure|Drama|War, Action|Crime|Thriller, C...
...         ...                                                ...
474         395  {Romance|War, Comedy|Sci-Fi|Thriller, Crime|Ho...
380         399  {Action|Animation|Fantasy, Action|Sci-Fi|Thril...
448         403  {Action|Comedy|Crime, Action|Comedy|Crime|Dram...
414         482  {Comedy|Sci-Fi|Thriller, Action|Comedy|Crime, ...
599         524  {Adventure|Children|Drama|Fantasy, Comedy|Sci-...

[610 rows x 2 columns]

UserId with max unique genres is: 599

### Задание 8.5

Найдите пользовател, который выставил наименьшее количество оценок, но его средняя оценка фильма наибольшаяя

In [34]:
# групируем по пользователям, обрабатываем их рейтинги и сортируем 
# соответсятвуя условиям
display(ratings_movies.groupby('userId')['rating']\
    .agg(['count', 'mean']).sort_values(by=['count', 'mean']\
        ,ascending=[True, False]))
# печатаем ответ красиво
print(f'UserId with lowest rating count and biggest mean rating is: {
    ratings_movies.groupby('userId')['rating'].agg(['count', 'mean'])\
        .sort_values(by=['count', 'mean'], ascending=[True, False]).index[0]}')

        count      mean
userId
53         20  5.000000
595        20  4.200000
189        20  4.100000
569        20  4.000000
278        20  3.875000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

UserId with lowest rating count and biggest mean rating is: 53

### Задание 8.6

Найдите сочетание жанров (genres) за 2018 год, которое имеет наибольший средний рейтинг (среднее по столбцу rating), и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.

Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [8]:
# отбираем только 2018 год маской
mask_one = ratings_movies['year_release'] == 2018.0
# фильтруем таблицу
filtered = ratings_movies[mask_one]
# группирую по сочетаниям жанров и в признаке rating нахожу среднее значение
# складываю все в переменную для дальнейшей фильтрации по количеству 
# выставленных оценок
filtered_group = filtered.groupby(by='genres')['rating'].agg(['mean', 'count'])
# маской фильтруем таблицу согласно условиям
mask_two = filtered_group['count'] > 10
# применяем маску
filtered_group = filtered_group[mask_two]
# сортируем таблицу по убыванию
ready_df = filtered_group.sort_values(by='mean', ascending=False)
# демонстрируем таблицу и чудесно печатаем ответ
display(ready_df)
print(f'Genres with maximum mean rating in 2018 and rating count bigger \
than 10 is: {ready_df.index[0]}')

                             mean  count
genres
Action|Adventure|Sci-Fi  3.928571     14
Action|Comedy|Sci-Fi     3.875000     12

Genres with maximum mean rating in 2018 and rating count bigger than 10 is: Action|Adventure|Sci-Fi

### Задание 8.7

Добавьте в таблицу новый признак year_rating — год выставления оценки. Создайте сводную таблицу, которая иллюстрирует зависимость среднего рейтинга фильма от года выставления оценки и жанра.

In [26]:
# меняем тип данных признака date
ratings_movies['date'] = pd.to_datetime(ratings_movies['date'])
# создаем новый признак для переноса в основную таблицу
year_rating = ratings_movies['date'].dt.year
# добавляем признак в табилцу
ratings_movies['year_rating'] = year_rating
display(ratings_movies)
# создаю сводную таблицу, который считает средний рейтинг групированного года
# по каждому жанру
pivot_rm = ratings_movies.pivot_table(
    values='rating',
    index='year_rating',
    columns='genres',
    aggfunc='mean',
    fill_value=0
)
display(pivot_rm)

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release,year_rating
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0,2000
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0,2000
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0,2000
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0,2000
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0,2000
...,...,...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller,2017.0,2017
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller,2017.0,2017
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror,2017.0,2017
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi,2017.0,2017
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,2017.0,2017

genres,(no genres listed),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children,Action|Adventure|Animation|Children|Comedy,Action|Adventure|Animation|Children|Comedy|Fantasy,Action|Adventure|Animation|Children|Comedy|IMAX,Action|Adventure|Animation|Children|Comedy|Romance,Action|Adventure|Animation|Children|Comedy|Sci-Fi,...,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|IMAX,Sci-Fi|Thriller,Sci-Fi|Thriller|IMAX,Thriller,War,Western
year_rating,,,,,,,,,,,,,,,,,,,,,
1996,0.000000,2.730769,3.454545,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,0.0,0.000000,0.000000,2.666667,0.000000,3.838095,0.0,3.117647
1997,0.000000,3.538462,4.150000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,0.0,0.000000,0.000000,3.400000,0.000000,3.923077,0.0,3.000000
1998,0.000000,0.000000,4.200000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3.800000,0.0,0.000000
1999,0.000000,0.000000,4.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,2.000,0.0,0.0,0.000000,0.000000,4.000000,0.000000,3.700000,4.5,4.000000
2000,0.000000,2.588235,3.738462,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,4.000,0.0,3.0,3.416667,0.000000,2.142857,0.000000,3.087912,3.0,4.058824
2001,0.000000,3.000000,3.500000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,3.0,2.500000,0.000000,2.500000,0.000000,3.477273,3.0,3.111111
2002,0.000000,2.750000,4.304348,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,3.000,0.0,0.0,3.750000,0.000000,3.600000,0.000000,3.583333,3.5,3.000000
2003,0.000000,3.833333,3.277778,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,3.375,2.5,0.0,2.333333,0.000000,3.142857,0.000000,3.250000,3.0,4.000000
2004,0.000000,2.700000,4.136364,0.000,0.000000,4.000000,0.000000,0.000000,0.000000,0.0,...,3.000,3.0,3.5,2.125000,0.000000,0.000000,0.000000,3.464286,3.0,3.800000
2005,0.000000,3.357143,3.413043,0.000,0.000000,4.107143,0.000000,0.000000,0.000000,0.0,...,2.000,0.0,0.0,3.000000,0.000000,2.750000,0.000000,3.411765,0.0,4.500000
2006,0.000000,2.166667,4.090909,0.000,0.000000,3.833333,0.000000,0.000000,0.000000,3.0,...,0.000,0.0,0.0,0.500000,0.000000,4.500000,0.000000,3.735294,0.0,3.625000
2007,0.000000,2.583333,3.666667,0.000,0.000000,3.846154,3.000000,0.000000,0.000000,2.8,...,1.500,0.0,2.5,3.375000,0.000000,2.833333,0.000000,3.421875,0.0,3.000000
2008,0.000000,3.000000,3.656250,0.000,0.000000,4.125000,4.000000,0.000000,0.000000,3.5,...,0.000,0.0,0.0,3.125000,0.000000,3.000000,0.000000,3.333333,0.0,4.000000
2009,0.000000,0.000000,3.714286,0.000,0.000000,3.900000,0.000000,3.250000,0.000000,2.5,...,0.000,0.0,0.0,2.000000,0.000000,4.000000,0.000000,2.964286,4.0,3.375000
2010,0.000000,3.500000,3.437500,0.000,0.000000,4.333333,0.000000,3.500000,3.000000,0.0,...,0.000,0.0,0.0,4.000000,0.000000,2.500000,0.000000,2.833333,0.0,3.666667
2011,0.000000,4.500000,3.888889,0.000,0.000000,3.500000,0.000000,0.000000,0.000000,4.0,...,0.000,0.0,0.0,3.500000,0.000000,1.833333,4.000000,3.625000,0.0,4.000000
2012,0.000000,2.625000,3.900000,0.000,4.000000,3.785714,0.000000,3.550000,4.000000,0.0,...,2.500,0.0,0.0,4.166667,0.000000,3.500000,3.666667,3.083333,0.0,4.100000
2013,0.000000,2.500000,3.833333,0.000,3.000000,4.333333,0.000000,5.000000,0.000000,0.0,...,0.000,0.0,0.0,1.500000,0.000000,3.833333,4.000000,3.666667,0.0,4.000000
2014,0.000000,0.000000,3.875000,3.000,3.500000,3.250000,3.833333,3.500000,4.000000,0.0,...,0.000,0.0,0.0,2.500000,5.000000,0.000000,4.000000,4.000000,0.0,4.000000
2015,0.500000,3.100000,3.560976,3.800,3.666667,3.565217,3.833333,3.375000,2.333333,2.5,...,0.000,0.0,0.0,2.900000,4.071429,3.764706,4.000000,2.911765,0.0,3.900000
2016,3.500000,3.545455,3.722222,3.750,3.833333,3.925000,3.388889,3.666667,1.000000,4.0,...,2.500,0.0,0.0,3.555556,3.807692,3.916667,3.666667,3.432432,0.0,3.958333
2017,3.000000,2.637931,3.527778,3.375,3.500000,3.676471,3.700000,1.000000,1.000000,2.0,...,3.000,0.0,0.0,3.864865,4.264706,3.750000,2.500000,3.152174,0.0,2.933333
2018,3.676471,2.588235,3.397436,3.650,3.166667,3.741935,4.142857,3.700000,2.500000,4.0,...,0.000,0.0,0.0,3.128571,3.500000,3.562500,0.000000,3.296296,0.0,3.611111

B Наилучшую оценку жанр Action|Adventure|Animation|Children|Comedy|IMAX получил в 2010 году?

In [27]:
display(pivot_rm['Action|Adventure|Animation|Children|Comedy|IMAX'])

year_rating
1996    0.000000
1997    0.000000
1998    0.000000
1999    0.000000
2000    0.000000
2001    0.000000
2002    0.000000
2003    0.000000
2004    0.000000
2005    0.000000
2006    0.000000
2007    0.000000
2008    0.000000
2009    3.250000
2010    3.500000
2011    0.000000
2012    3.550000
2013    5.000000
2014    3.500000
2015    3.375000
2016    3.666667
2017    1.000000
2018    3.700000
Name: Action|Adventure|Animation|Children|Comedy|IMAX, dtype: float64

Среди сочетаний жанров, получивших наивысшую среднюю оценку в 2018 году, есть сочетание Animation|Children|Mystery?

In [31]:
pivot_reverse = ratings_movies.pivot_table(
    values='rating',
    index='genres',
    columns='year_rating',
    aggfunc='mean',
    fill_value=0
)
display(pivot_reverse)
display(pivot_reverse[2018].sort_values(ascending=False).head(20))

year_rating,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
genres,,,,,,,,,,,,,,,,,,,,,
(no genres listed),0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.500000,3.500000,3.000000,3.676471
Action,2.730769,3.538462,0.0,0.0,2.588235,3.000000,2.750000,3.833333,2.700000,3.357143,...,0.000000,3.500000,4.500000,2.625000,2.500000,0.000,3.100000,3.545455,2.637931,2.588235
Action|Adventure,3.454545,4.150000,4.2,4.0,3.738462,3.500000,4.304348,3.277778,4.136364,3.413043,...,3.714286,3.437500,3.888889,3.900000,3.833333,3.875,3.560976,3.722222,3.527778,3.397436
Action|Adventure|Animation,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.000,3.800000,3.750000,3.375000,3.650000
Action|Adventure|Animation|Children,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,4.000000,3.000000,3.500,3.666667,3.833333,3.500000,3.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sci-Fi|Thriller,2.666667,3.400000,0.0,4.0,2.142857,2.500000,3.600000,3.142857,0.000000,2.750000,...,4.000000,2.500000,1.833333,3.500000,3.833333,0.000,3.764706,3.916667,3.750000,3.562500
Sci-Fi|Thriller|IMAX,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,4.000000,3.666667,4.000000,4.000,4.000000,3.666667,2.500000,0.000000
Thriller,3.838095,3.923077,3.8,3.7,3.087912,3.477273,3.583333,3.250000,3.464286,3.411765,...,2.964286,2.833333,3.625000,3.083333,3.666667,4.000,2.911765,3.432432,3.152174,3.296296
War,0.000000,0.000000,0.0,4.5,3.000000,3.000000,3.500000,3.000000,3.000000,0.000000,...,4.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
Western,3.117647,3.000000,0.0,4.0,4.058824,3.111111,3.000000,4.000000,3.800000,4.500000,...,3.375000,3.666667,4.000000,4.100000,4.000000,4.000,3.900000,3.958333,2.933333,3.611111

genres
Animation|Comedy|Fantasy|Musical             5.0
Animation|Children|Mystery                   5.0
Animation|Comedy|Drama                       5.0
Animation|Comedy|Drama|Fantasy|Sci-Fi        5.0
Romance|Sci-Fi                               5.0
Drama|Romance|War                            5.0
Comedy|Drama|Fantasy|Mystery|Romance         5.0
Action|Crime|Sci-Fi|Thriller                 5.0
Comedy|Crime|Fantasy                         5.0
Comedy|Crime|Horror|Thriller                 5.0
Drama|Horror|Mystery|Sci-Fi|Thriller         5.0
Mystery|Romance|Sci-Fi|Thriller              5.0
Comedy|Horror|Mystery                        5.0
Animation|Crime|Drama                        5.0
Crime|Mystery                                5.0
Adventure|Children|Comedy|Fantasy|Mystery    5.0
Action|Comedy|Documentary                    5.0
Action|Crime|Thriller|Western                5.0
Adventure|Fantasy|Musical                    5.0
Comedy|Fantasy|Horror|Musical|Thriller       5.0
Name: 2018, dtype: float64

Для жанра Comedy прослеживается тенденция падения рейтинга с каждым годом (с 1996 по 2018)?

In [32]:
display(pivot_rm['Comedy'])

year_rating
1996    3.228571
1997    3.409091
1998    3.000000
1999    3.606061
2000    3.141291
2001    3.318408
2002    3.198556
2003    3.120066
2004    3.356877
2005    2.963325
2006    3.347534
2007    2.928187
2008    3.426667
2009    3.273292
2010    3.179825
2011    3.232877
2012    3.478477
2013    3.489474
2014    3.271429
2015    3.106183
2016    3.373431
2017    2.852668
2018    3.121296
Name: Comedy, dtype: float64

## Задания 8.8 - 8.10

In [40]:
# инициализируем бибилиотеку pandas
import pandas as pd


# читаем csv-файлы в переменную
orders_df = pd.read_csv('data/orders.csv', sep=';')
products_df = pd.read_csv('data/products.csv', sep=';')

In [41]:
display(orders_df)
display(products_df)

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1

    Product_ID                                   Name  Price CURRENCY
0           47                   Шатны Полосатый рейс   2999      RUR
1           51               Платье Аленький цветочек   4999      RUR
2           53                 Штаны Цветочная Поляна   4999      RUR
3           71                    Платье Ночная Жизнь   7999      RUR
4           74               Платье Ночная Жизнь XXXL   8999      RUR
5           86                     Носки Простые, муж     45      RUR
6           91                     Носки Честные, муж     50      RUR
7          103                  Носки Подарочные, муж    199      RUR
8          104                  Носки Подарочные, жен    249      RUR
9          124                   Носки беговые Camino    999      RUR
10         137              Гольфы детские Снегурочка     99      RUR
11         138               Гольфы детские Питер Пен     99      RUR
12         139                       Сумка для носков    500      RUR
13         140  Товар, которому не придумано название      1      RUR

Объедините заданные таблицы в таблицу orders_products, чтобы в результирующей таблице оказалась информация обо всех заказах, но не оказалось информации о продуктах, на которых заказов ещё не поступало.

In [42]:
# сливаю таблицы по ключевому столбцу способом left
orders_product = orders_df.join(
    products_df.set_index('Product_ID'),
    on='ID товара',
    how='left'
)
display(orders_product)

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,"Носки Простые, муж",45.0,RUR
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,"Носки Подарочные, жен",249.0,RUR
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,"Носки Подарочные, жен",249.0,RUR
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,"Носки Подарочные, жен",249.0,RUR
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,"Носки Подарочные, муж",199.0,RUR
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1,Носки беговые Camino,999.0,RUR
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1,"Носки Честные, муж",50.0,RUR
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,"Носки Подарочные, муж",199.0,RUR
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,"Носки Подарочные, жен",249.0,RUR
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,Платье Ночная Жизнь XXXL,8999.0,RUR
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,Штаны Цветочная Поляна,4999.0,RUR
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,Гольфы детские Снегурочка,99.0,RUR
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,Шатны Полосатый рейс,2999.0,RUR
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,Платье Ночная Жизнь,7999.0,RUR
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,"Носки Простые, муж",45.0,RUR
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,Платье Аленький цветочек,4999.0,RUR
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN

### Задание 8.8


Какой идентификатор (Order ID) имеет заказ, для которого не оказалось информации о товаре?

In [44]:
print(f'Order ID with order without any information is: {orders_product\
    ['Order ID'].iloc[17]}')

Order ID with order without any information is: 0

### Задание 8.9

На какой товар была произведена отмена?

В качестве ответа запишите название этого товара (Name).

In [45]:
print(f'Canceled product is: {orders_product['Name'].iloc[6]}')

Canceled product is: Носки беговые Camino

### Задание 8.10

Какой покупатель принёс наибольшую суммарную прибыль интернет-магазину за указанный период?

В ответ запишите идентификатор этого покупателя (ID Покупателя).

Прибыль состоит только из оплаченных заказов и рассчитывается как количество купленного товара, умноженное на его цену.

In [55]:
display(orders_product)
# создаю маску для филтрации
mask_one = orders_product['Оплачен'] == 'Да'
# оставляем оплаченные заказы
filtered = orders_product[mask_one]
display(filtered)
# создаю новый признак с общей ценой
general_price = filtered['Price'] * filtered['Количество']
# добавляю признак в общую таблицу
filtered['general_price'] = general_price
# смотрю на отсортированную по цене таблицу
display(filtered.sort_values(by='general_price',ascending=False))
# складываем отсортированную таблицу в переменную для красивого вывода
filtered_var = filtered.sort_values(by='general_price', ascending=False)
# красиво печатаю ответ
print(f'Customer with biggest income for internet-shop is: \
    {filtered_var['ID Покупателя'].iloc[0]}')

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,"Носки Простые, муж",45.0,RUR
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,"Носки Подарочные, жен",249.0,RUR
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,"Носки Подарочные, жен",249.0,RUR
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,"Носки Подарочные, жен",249.0,RUR
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,"Носки Подарочные, муж",199.0,RUR
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1,Носки беговые Camino,999.0,RUR
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1,"Носки Честные, муж",50.0,RUR
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,"Носки Подарочные, муж",199.0,RUR
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,"Носки Подарочные, жен",249.0,RUR
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,Платье Ночная Жизнь XXXL,8999.0,RUR
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,Штаны Цветочная Поляна,4999.0,RUR
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,Гольфы детские Снегурочка,99.0,RUR
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,Шатны Полосатый рейс,2999.0,RUR
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,Платье Ночная Жизнь,7999.0,RUR
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,"Носки Простые, муж",45.0,RUR
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,Платье Аленький цветочек,4999.0,RUR
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Name,Price,CURRENCY
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,"Носки Подарочные, муж",199.0,RUR
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,"Носки Подарочные, жен",249.0,RUR
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,Платье Ночная Жизнь XXXL,8999.0,RUR
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,Штаны Цветочная Поляна,4999.0,RUR
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,Гольфы детские Снегурочка,99.0,RUR
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,Шатны Полосатый рейс,2999.0,RUR
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,Платье Ночная Жизнь,7999.0,RUR
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,"Носки Простые, муж",45.0,RUR
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,Платье Аленький цветочек,4999.0,RUR
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN

/tmp/ipykernel_6973/3320305715.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['general_price'] = general_price

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Name,Price,CURRENCY,general_price
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,Платье Ночная Жизнь XXXL,8999.0,RUR,8999.0
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,Платье Ночная Жизнь,7999.0,RUR,7999.0
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,Платье Аленький цветочек,4999.0,RUR,4999.0
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,Штаны Цветочная Поляна,4999.0,RUR,4999.0
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,Шатны Полосатый рейс,2999.0,RUR,2999.0
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,"Носки Подарочные, жен",249.0,RUR,747.0
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,"Носки Подарочные, муж",199.0,RUR,597.0
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,Гольфы детские Снегурочка,99.0,RUR,99.0
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,"Носки Простые, муж",45.0,RUR,45.0
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN,NaN

Customer with biggest income for internet-shop is:     7