In [ ]:
import pandas as pd


melb_df = pd.read_csv('data/melb_data_fe.csv', sep=',')

## Задание 1.1

Преобразуйте столбец Date в формат datetime и выделите квартал (quarter) продажи объектов недвижимости. Найдите второй по популярности квартал продажи. В качестве ответа запишите число объектов, проданных в этом квартале.

In [ ]:
# меняю тип признака
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
display(melb_df['Date'])

# помещаю ряд в переменную для подготовки признака
quarter_column = melb_df['Date'].dt.quarter
display(quarter_column)
# отображаем количество уникальных элементов
display(quarter_column.value_counts())
# 4359

0       2016-03-12
1       2016-04-02
2       2017-04-03
3       2017-04-03
4       2016-04-06
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

0        1
1        2
2        2
3        2
4        2
        ..
13575    3
13576    3
13577    3
13578    3
13579    3
Name: Date, Length: 13580, dtype: int32

Date
3    4873
2    4359
4    2329
1    2019
Name: count, dtype: int64

## Заданине 1.2

Преобразуйте все столбцы, в которых меньше 150 уникальных значений, в тип данных category, исключив из преобразования столбцы Date, Rooms, Bedroom, Bathroom, Car.

В качестве ответа запишите результирующее количество столбцов, которые имеют тип данных category.

In [14]:
# создаю список исключений
exclude_list = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
# создаю переменную для фильтрации
max_unique_count = 150
# расматриваем каждый признак
for col in melb_df.columns:
    # условием выбираем нужные признаки
    if melb_df[col].nunique() < max_unique_count and col not in exclude_list:
        melb_df[col] = melb_df[col].astype('category')

display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB

None

In [ ]:
display(melb_df.columns)

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Date',
       'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car', 'Landsize',
       'BuildingArea', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname',
       'Propertycount', 'MeanRoomsSquare', 'AreaRatio', 'MonthSale',
       'AgeBuilding', 'WeekdaySale', 'StreetType', 'Weekend'],
      dtype='object')

## Задание 2.2

Произведите сортировку столбца AreaRatio по убыванию. После сортировки замените индексы таблицы на новые. Какое значение площади здания находится в строке 1558? Ответ округлите до целого числа.

In [ ]:
melb_sorted = melb_df.copy()