In [2]:
import pandas as pd


melb_df = pd.read_csv('data/melb_data_fe.csv', sep=',')

## Задание 1.1

Преобразуйте столбец Date в формат datetime и выделите квартал (quarter) продажи объектов недвижимости. Найдите второй по популярности квартал продажи. В качестве ответа запишите число объектов, проданных в этом квартале.

In [3]:
# меняю тип признака
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
display(melb_df['Date'])

# помещаю ряд в переменную для подготовки признака
quarter_column = melb_df['Date'].dt.quarter
display(quarter_column)
# отображаем количество уникальных элементов
display(quarter_column.value_counts())
# 4359

0       2016-03-12
1       2016-04-02
2       2017-04-03
3       2017-04-03
4       2016-04-06
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

0        1
1        2
2        2
3        2
4        2
        ..
13575    3
13576    3
13577    3
13578    3
13579    3
Name: Date, Length: 13580, dtype: int32

Date
3    4873
2    4359
4    2329
1    2019
Name: count, dtype: int64

## Заданине 1.2

Преобразуйте все столбцы, в которых меньше 150 уникальных значений, в тип данных category, исключив из преобразования столбцы Date, Rooms, Bedroom, Bathroom, Car.

В качестве ответа запишите результирующее количество столбцов, которые имеют тип данных category.

In [4]:
# создаю список исключений
exclude_list = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
# создаю переменную для фильтрации
max_unique_count = 150
# расматриваем каждый признак
for col in melb_df.columns:
    # условием выбираем нужные признаки
    if melb_df[col].nunique() < max_unique_count and col not in exclude_list:
        melb_df[col] = melb_df[col].astype('category')

display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB

None

In [ ]:
display(melb_df.columns)

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Date',
       'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car', 'Landsize',
       'BuildingArea', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname',
       'Propertycount', 'MeanRoomsSquare', 'AreaRatio', 'MonthSale',
       'AgeBuilding', 'WeekdaySale', 'StreetType', 'Weekend'],
      dtype='object')

## Задание 2.2

Произведите сортировку столбца AreaRatio по убыванию. После сортировки замените индексы таблицы на новые. Какое значение площади здания находится в строке 1558? Ответ округлите до целого числа.

In [ ]:
# создаем копию и смотрим как будет выглядеть осортированный список
melb_sorted = melb_df.sort_values(by='AreaRatio', ascending=False, \
    ignore_index=True).copy()

display(melb_sorted.head(10))
display(melb_sorted.tail(10))

# смотрим какое значение по площади в строке 1558
display(melb_sorted['BuildingArea'].iloc[1558])

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,1,unit,441000.0,SP,Greg,2016-05-14,2.5,3067,1,...,144.9988,Northern Metropolitan,4019,42.000000,1.0,5,46,5,St,1
1,Abbotsford,2,unit,750000.0,S,Biggin,2016-12-11,2.5,3067,2,...,144.9965,Northern Metropolitan,4019,15.666667,1.0,12,7,6,St,1
2,Abbotsford,2,unit,700000.0,VB,Jellis,2016-12-11,2.5,3067,2,...,145.0067,Northern Metropolitan,4019,21.000000,1.0,12,46,6,St,1
3,Abbotsford,1,unit,300000.0,S,Biggin,2016-08-10,2.5,3067,1,...,144.9973,Northern Metropolitan,4019,42.000000,1.0,8,46,2,St,0
4,Abbotsford,2,unit,500000.0,S,Collins,2016-06-18,2.5,3067,2,...,144.9972,Northern Metropolitan,4019,12.000000,1.0,6,46,5,St,1
5,Abbotsford,3,townhouse,900000.0,S,other,2017-03-18,2.5,3067,3,...,144.9959,Northern Metropolitan,4019,15.750000,1.0,3,7,5,St,1
6,Hawthorn,1,unit,488000.0,S,Marshall,2016-10-12,4.6,3122,1,...,145.0343,Southern Metropolitan,11308,19.000000,1.0,10,12,2,Rd,0
7,Hawthorn,1,unit,450000.0,S,Collins,2017-11-03,4.6,3122,1,...,145.0242,Southern Metropolitan,11308,42.000000,1.0,11,47,4,Rd,0
8,Hawthorn,1,unit,350000.0,VB,Noel,2016-12-11,4.6,3122,1,...,145.0456,Southern Metropolitan,11308,17.000000,1.0,12,56,6,Rd,1
9,Hawthorn,2,unit,645000.0,S,Jellis,2016-12-11,4.6,3122,2,...,145.0353,Southern Metropolitan,11308,25.200000,1.0,12,46,6,St,1

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
13570,Craigieburn,3,house,412500.0,S,other,2017-08-26,20.6,3064,3,...,144.91100,Northern Metropolitan,15510,0.0,-1.0,8,5,5,St,1
13571,other,3,house,1205000.0,SA,other,2017-09-23,12.3,3166,3,...,145.10851,Southern Metropolitan,768,0.0,-1.0,9,57,5,St,1
13572,North Melbourne,2,townhouse,841000.0,S,Jellis,2017-04-03,2.3,3051,2,...,144.94370,Northern Metropolitan,6821,0.0,-1.0,4,17,0,other,0
13573,other,3,house,803000.0,S,other,2017-08-26,26.0,3137,3,...,145.32092,Eastern Metropolitan,4654,0.0,-1.0,8,47,5,Dr,1
13574,Bundoora,4,house,815000.0,S,Ray,2017-08-26,12.1,3083,4,...,145.05556,Northern Metropolitan,10175,0.0,-1.0,8,52,5,Dr,1
13575,Port Melbourne,4,townhouse,2455000.0,SP,Marshall,2017-08-26,3.5,3207,4,...,144.94840,Southern Metropolitan,8648,0.0,-1.0,8,7,5,St,1
13576,Prahran,3,house,1390000.0,S,Marshall,2017-08-19,4.6,3181,3,...,145.00296,Southern Metropolitan,7717,0.0,-1.0,8,15,5,Rd,1
13577,Bundoora,3,house,814000.0,S,Barry,2017-03-09,12.1,3083,3,...,145.05691,Northern Metropolitan,10175,0.0,-1.0,3,47,3,Cr,0
13578,Balwyn North,5,house,1950000.0,S,RT,2017-03-09,9.7,3104,5,...,145.09311,Southern Metropolitan,7809,0.0,-1.0,3,68,3,Av,0
13579,Moorabbin,3,house,1290000.0,S,Ray,2017-08-26,14.3,3189,3,...,145.04938,Southern Metropolitan,2555,0.0,-1.0,8,47,5,Av,1

257.0

## Задание 2.3

Найдите таунхаусы (Type) с количеством жилых комнат (Rooms) больше 2. Отсортируйте полученную таблицу сначала по возрастанию числа комнат, а затем по убыванию средней площади комнат (MeanRoomsSquare). Индексы таблицы замените на новые. Какая цена будет у объекта в строке 18? Ответ запишите в виде целого числа.

In [11]:
# маской отфильтровываем нужный тип
mask_one = melb_df['Type'] == 'townhouse'
# отфильтровываем количество комнат
mask_two = melb_df['Rooms'] > 2
# сортируем отфильтрованную таблицу с требуемыми параметрами 
melb_sorted = melb_df[mask_one & mask_two].sort_values(
    by=['Rooms', 'MeanRoomsSquare'],
    ascending=[True, False],
    ignore_index=True
).copy()
# смотрим на первые пять строк 
display(melb_sorted.head())
# смотрим на строку 18 в удобном формате
display(melb_sorted.iloc[18])
# узнаем цену обьекта в строке 18
display(melb_sorted['Price'].iloc[18])

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,other,3,townhouse,1900000.0,PI,other,2017-08-07,24.8,3156,3,...,145.29371,Eastern Metropolitan,10788,62.750000,-0.576550,8,47,0,Cr,0
1,Brighton,3,townhouse,3275000.0,SP,Marshall,2017-06-24,10.5,3186,3,...,144.99233,Southern Metropolitan,10579,46.451525,0.125054,6,47,5,St,1
2,Moonee Ponds,3,townhouse,1345000.0,SP,Barry,2016-05-22,6.9,3039,3,...,144.91260,Western Metropolitan,6232,35.875000,-0.038526,5,86,6,St,1
3,Ashburton,3,townhouse,2050000.0,S,Fletchers,2016-03-12,11.0,3147,3,...,145.07140,Southern Metropolitan,3052,35.000000,0.008000,3,2,5,St,1
4,Strathmore,3,townhouse,925000.0,S,other,2017-08-04,9.7,3041,3,...,144.92280,Western Metropolitan,3284,32.555556,-0.308962,8,47,4,St,0

Suburb                     Brighton East
Rooms                                  3
Type                           townhouse
Price                          1300000.0
Method                                PI
SellerG                           Buxton
Date                 2016-09-17 00:00:00
Distance                            10.7
Postcode                            3187
Bedroom                                3
Bathroom                               2
Car                                    2
Landsize                           337.0
BuildingArea                       222.0
CouncilArea                      Bayside
Lattitude                       -37.9196
Longtitude                      145.0205
Regionname         Southern Metropolitan
Propertycount                       6938
MeanRoomsSquare                    27.75
AreaRatio                      -0.205725
MonthSale                              9
AgeBuilding                           16
WeekdaySale                            5
StreetType                            St
Weekend                                1
Name: 18, dtype: object

1300000.0