In [1]:
# импортируюем библиотеку
import pandas as pd


# читаем csv-файл
melb_df = pd.read_csv('data/melb_data_fe.csv', sep=',')
display()

# выводим все предыдущие изменения таблицы
# меняю тип признака
melb_df['Date'] = pd.to_datetime(melb_df['Date'])

# помещаю ряд в переменную для подготовки признака
quarter_column = melb_df['Date'].dt.quarter

# создаю список исключений
exclude_list = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
# создаю переменную для фильтрации
max_unique_count = 150
# расматриваем каждый признак
for col in melb_df.columns:
    # условием выбираем нужные признаки
    if melb_df[col].nunique() < max_unique_count and col not in exclude_list:
        melb_df[col] = melb_df[col].astype('category')

## Задание 1.1

Преобразуйте столбец Date в формат datetime и выделите квартал (quarter) продажи объектов недвижимости. Найдите второй по популярности квартал продажи. В качестве ответа запишите число объектов, проданных в этом квартале.

In [3]:
# меняю тип признака
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
display(melb_df['Date'])

# помещаю ряд в переменную для подготовки признака
quarter_column = melb_df['Date'].dt.quarter
display(quarter_column)
# отображаем количество уникальных элементов
display(quarter_column.value_counts())
# 4359

0       2016-03-12
1       2016-04-02
2       2017-04-03
3       2017-04-03
4       2016-04-06
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

0        1
1        2
2        2
3        2
4        2
        ..
13575    3
13576    3
13577    3
13578    3
13579    3
Name: Date, Length: 13580, dtype: int32

Date
3    4873
2    4359
4    2329
1    2019
Name: count, dtype: int64

## Заданине 1.2

Преобразуйте все столбцы, в которых меньше 150 уникальных значений, в тип данных category, исключив из преобразования столбцы Date, Rooms, Bedroom, Bathroom, Car.

В качестве ответа запишите результирующее количество столбцов, которые имеют тип данных category.

In [4]:
# создаю список исключений
exclude_list = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
# создаю переменную для фильтрации
max_unique_count = 150
# расматриваем каждый признак
for col in melb_df.columns:
    # условием выбираем нужные признаки
    if melb_df[col].nunique() < max_unique_count and col not in exclude_list:
        melb_df[col] = melb_df[col].astype('category')

display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB

None

In [ ]:
display(melb_df.columns)

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Date',
       'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car', 'Landsize',
       'BuildingArea', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname',
       'Propertycount', 'MeanRoomsSquare', 'AreaRatio', 'MonthSale',
       'AgeBuilding', 'WeekdaySale', 'StreetType', 'Weekend'],
      dtype='object')

## Задание 2.2

Произведите сортировку столбца AreaRatio по убыванию. После сортировки замените индексы таблицы на новые. Какое значение площади здания находится в строке 1558? Ответ округлите до целого числа.

In [ ]:
# создаем копию и смотрим как будет выглядеть осортированный список
melb_sorted = melb_df.sort_values(by='AreaRatio', ascending=False, \
    ignore_index=True).copy()

display(melb_sorted.head(10))
display(melb_sorted.tail(10))

# смотрим какое значение по площади в строке 1558
display(melb_sorted['BuildingArea'].iloc[1558])

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,1,unit,441000.0,SP,Greg,2016-05-14,2.5,3067,1,...,144.9988,Northern Metropolitan,4019,42.000000,1.0,5,46,5,St,1
1,Abbotsford,2,unit,750000.0,S,Biggin,2016-12-11,2.5,3067,2,...,144.9965,Northern Metropolitan,4019,15.666667,1.0,12,7,6,St,1
2,Abbotsford,2,unit,700000.0,VB,Jellis,2016-12-11,2.5,3067,2,...,145.0067,Northern Metropolitan,4019,21.000000,1.0,12,46,6,St,1
3,Abbotsford,1,unit,300000.0,S,Biggin,2016-08-10,2.5,3067,1,...,144.9973,Northern Metropolitan,4019,42.000000,1.0,8,46,2,St,0
4,Abbotsford,2,unit,500000.0,S,Collins,2016-06-18,2.5,3067,2,...,144.9972,Northern Metropolitan,4019,12.000000,1.0,6,46,5,St,1
5,Abbotsford,3,townhouse,900000.0,S,other,2017-03-18,2.5,3067,3,...,144.9959,Northern Metropolitan,4019,15.750000,1.0,3,7,5,St,1
6,Hawthorn,1,unit,488000.0,S,Marshall,2016-10-12,4.6,3122,1,...,145.0343,Southern Metropolitan,11308,19.000000,1.0,10,12,2,Rd,0
7,Hawthorn,1,unit,450000.0,S,Collins,2017-11-03,4.6,3122,1,...,145.0242,Southern Metropolitan,11308,42.000000,1.0,11,47,4,Rd,0
8,Hawthorn,1,unit,350000.0,VB,Noel,2016-12-11,4.6,3122,1,...,145.0456,Southern Metropolitan,11308,17.000000,1.0,12,56,6,Rd,1
9,Hawthorn,2,unit,645000.0,S,Jellis,2016-12-11,4.6,3122,2,...,145.0353,Southern Metropolitan,11308,25.200000,1.0,12,46,6,St,1

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
13570,Craigieburn,3,house,412500.0,S,other,2017-08-26,20.6,3064,3,...,144.91100,Northern Metropolitan,15510,0.0,-1.0,8,5,5,St,1
13571,other,3,house,1205000.0,SA,other,2017-09-23,12.3,3166,3,...,145.10851,Southern Metropolitan,768,0.0,-1.0,9,57,5,St,1
13572,North Melbourne,2,townhouse,841000.0,S,Jellis,2017-04-03,2.3,3051,2,...,144.94370,Northern Metropolitan,6821,0.0,-1.0,4,17,0,other,0
13573,other,3,house,803000.0,S,other,2017-08-26,26.0,3137,3,...,145.32092,Eastern Metropolitan,4654,0.0,-1.0,8,47,5,Dr,1
13574,Bundoora,4,house,815000.0,S,Ray,2017-08-26,12.1,3083,4,...,145.05556,Northern Metropolitan,10175,0.0,-1.0,8,52,5,Dr,1
13575,Port Melbourne,4,townhouse,2455000.0,SP,Marshall,2017-08-26,3.5,3207,4,...,144.94840,Southern Metropolitan,8648,0.0,-1.0,8,7,5,St,1
13576,Prahran,3,house,1390000.0,S,Marshall,2017-08-19,4.6,3181,3,...,145.00296,Southern Metropolitan,7717,0.0,-1.0,8,15,5,Rd,1
13577,Bundoora,3,house,814000.0,S,Barry,2017-03-09,12.1,3083,3,...,145.05691,Northern Metropolitan,10175,0.0,-1.0,3,47,3,Cr,0
13578,Balwyn North,5,house,1950000.0,S,RT,2017-03-09,9.7,3104,5,...,145.09311,Southern Metropolitan,7809,0.0,-1.0,3,68,3,Av,0
13579,Moorabbin,3,house,1290000.0,S,Ray,2017-08-26,14.3,3189,3,...,145.04938,Southern Metropolitan,2555,0.0,-1.0,8,47,5,Av,1

257.0

## Задание 2.3

Найдите таунхаусы (Type) с количеством жилых комнат (Rooms) больше 2. Отсортируйте полученную таблицу сначала по возрастанию числа комнат, а затем по убыванию средней площади комнат (MeanRoomsSquare). Индексы таблицы замените на новые. Какая цена будет у объекта в строке 18? Ответ запишите в виде целого числа.

In [11]:
# маской отфильтровываем нужный тип
mask_one = melb_df['Type'] == 'townhouse'
# отфильтровываем количество комнат
mask_two = melb_df['Rooms'] > 2
# сортируем отфильтрованную таблицу с требуемыми параметрами 
melb_sorted = melb_df[mask_one & mask_two].sort_values(
    by=['Rooms', 'MeanRoomsSquare'],
    ascending=[True, False],
    ignore_index=True
).copy()
# смотрим на первые пять строк 
display(melb_sorted.head())
# смотрим на строку 18 в удобном формате
display(melb_sorted.iloc[18])
# узнаем цену обьекта в строке 18
display(melb_sorted['Price'].iloc[18])

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,other,3,townhouse,1900000.0,PI,other,2017-08-07,24.8,3156,3,...,145.29371,Eastern Metropolitan,10788,62.750000,-0.576550,8,47,0,Cr,0
1,Brighton,3,townhouse,3275000.0,SP,Marshall,2017-06-24,10.5,3186,3,...,144.99233,Southern Metropolitan,10579,46.451525,0.125054,6,47,5,St,1
2,Moonee Ponds,3,townhouse,1345000.0,SP,Barry,2016-05-22,6.9,3039,3,...,144.91260,Western Metropolitan,6232,35.875000,-0.038526,5,86,6,St,1
3,Ashburton,3,townhouse,2050000.0,S,Fletchers,2016-03-12,11.0,3147,3,...,145.07140,Southern Metropolitan,3052,35.000000,0.008000,3,2,5,St,1
4,Strathmore,3,townhouse,925000.0,S,other,2017-08-04,9.7,3041,3,...,144.92280,Western Metropolitan,3284,32.555556,-0.308962,8,47,4,St,0

Suburb                     Brighton East
Rooms                                  3
Type                           townhouse
Price                          1300000.0
Method                                PI
SellerG                           Buxton
Date                 2016-09-17 00:00:00
Distance                            10.7
Postcode                            3187
Bedroom                                3
Bathroom                               2
Car                                    2
Landsize                           337.0
BuildingArea                       222.0
CouncilArea                      Bayside
Lattitude                       -37.9196
Longtitude                      145.0205
Regionname         Southern Metropolitan
Propertycount                       6938
MeanRoomsSquare                    27.75
AreaRatio                      -0.205725
MonthSale                              9
AgeBuilding                           16
WeekdaySale                            5
StreetType                            St
Weekend                                1
Name: 18, dtype: object

1300000.0

## Задание 3.1

Сгруппируйте данные по признаку количества комнат и найдите среднюю цену объектов недвижимости в каждой группе. В качестве ответа запишите количество комнат, для которых средняя цена наибольшая.

In [ ]:
# применяем агрегирующий метод на сгрупированный признак показывающий цену
melb_df.groupby(by='Rooms')['Price'].mean().sort_values(ascending=False)
# 7

Rooms
7     1.920700e+06
5     1.870260e+06
6     1.849366e+06
8     1.602750e+06
4     1.445282e+06
3     1.076081e+06
10    9.000000e+05
2     7.750812e+05
1     4.338245e+05
Name: Price, dtype: float64

## Задание 3.2

Какой регион имеет наименьшее стандартное отклонение по географической широте (Lattitude)?

В качестве ответа запишите название этого региона.

In [16]:
# находим наименьшее стандартное отклонение по географической широте
# сгрупированного признака 
melb_df.groupby(by='Regionname')['Lattitude'].std().sort_values()

/tmp/ipykernel_5292/2934711539.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  melb_df.groupby(by='Regionname')['Lattitude'].std().sort_values()

Regionname
Western Victoria              0.011579
Southern Metropolitan         0.043080
Eastern Metropolitan          0.047890
Northern Metropolitan         0.049639
Western Metropolitan          0.051251
South-Eastern Metropolitan    0.073411
Northern Victoria             0.084455
Eastern Victoria              0.147067
Name: Lattitude, dtype: float64

## Задание 3.3

Какая риелторская компания (SellerG) имеет наименьшую общую выручку за период с 1 мая по 1 сентября (включительно) 2017 года?

Для ответа на этот вопрос рассчитайте сумму продаж (Price) каждой компании в заданный период.

Не забудьте перевести даты в формат datetime.

In [32]:
# фильтруем таблицу по времени при помощи масок
mask_one = melb_df['Date'] >= pd.to_datetime('2017-05-01')
mask_two = melb_df['Date'] <= pd.to_datetime('2017-09-01')
# отфильтрованную таблицу заносим в переменную и создаём копию
filltered_melb = melb_df[mask_one & mask_two].copy()
# группируем по риэлторским комапаниям за указанный период времени
# и находим ту, которая имеет наименьшую сумму продаж
filltered_row = filltered_melb.groupby(by='SellerG')['Price'].sum().sort_values()
# беремем имя самой маллой по выручке компании и красиво печатаем
print(f'SellerG with lowest ptice is: {filltered_row.index[0]}')

SellerG with lowest ptice is: LITTLE

/tmp/ipykernel_5292/3034113908.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  filltered_row = filltered_melb.groupby(by='SellerG')['Price'].sum().sort_values()

## Задание 4.2

Составьте сводную таблицу, которая показывает зависимость медианной площади (BuildingArea) здания от типа объекта недвижимости (Type) и количества жилых комнат в доме (Rooms). Для какой комбинации признаков площадь здания наибольшая?

В качестве ответа запишите эту комбинацию (тип здания, число комнат) через запятую, без пробелов.

In [ ]:
# создаём сводную таблицу
melb_df.pivot_table(
    values='BuildingArea',
    index='Rooms',
    columns='Type',
    aggfunc='median',
    fill_value=0
)


# house,7

Type   house  townhouse   unit
Rooms
1      126.0       88.0   69.5
2      126.0      114.0  110.0
3      126.0      126.0  126.0
4      141.0      159.5  126.0
5      177.0      152.0    0.0
6      126.0        0.0  171.0
7      216.5        0.0    0.0
8      126.0        0.0  126.0
10     126.0        0.0    0.0

## Задание 4.3


Составьте сводную таблицу, которая показывает зависимость медианной цены объекта недвижимости (Price) от риелторского агентства (SellerG) и типа здания (Type).

Во вновь созданной таблице найдите агентство, у которого медианная цена для зданий типа unit максимальна. В качестве ответа запишите название этого агентства.

In [ ]:
# составляем сводную таблицу
pivot = melb_df.pivot_table(
    values='Price',
    index='SellerG',
    columns='Type',
    aggfunc='median',
    fill_value=0
).sort_values(by='unit', ascending=False)
# отображаем таблицу
display(pivot)
# красиво печатаем
print(f'SellerG with maximum median price in unit type is: {pivot.index[0]}')

Type               house  townhouse      unit
SellerG
Nick           2025000.0   780000.0  900000.0
Marshall       1975000.0  1408500.0  715000.0
Cayzer         1505000.0  1450000.0  707500.0
Kay            2220000.0  1365000.0  695000.0
Noel           1400500.0   990000.0  693250.0
Buxton         1323750.0  1030000.0  670000.0
Fletchers      1390000.0  1238000.0  653000.0
Chisholm       1520000.0   950000.0  640000.0
Philip         1035000.0   701000.0  636000.0
RT             1640000.0  1400000.0  630000.0
C21             836500.0   768750.0  625500.0
RW              870000.0   630500.0  625500.0
Moonee          806000.0   715000.0  622000.0
O'Brien         737504.0   430000.0  618500.0
Hodges         1500000.0  1105000.0  605500.0
Eview           760000.0   597500.0  602000.0
Woodards       1261000.0   865500.0  600000.0
Collins        1566500.0   930000.0  592000.0
Jellis         1505000.0  1052000.0  591750.0
Purplebricks    810000.0   927500.0  582500.0
Williams       1161000.0   735000.0  577000.0
hockingstuart  1055000.0   935000.0  566000.0
Alexkarbon     1036250.0   935000.0  560000.0
Miles          1090000.0   721500.0  555000.0
Buckingham      830000.0   820000.0  553000.0
Gary           1370000.0   993500.0  550000.0
Biggin         1151750.0   675000.0  548000.0
Greg           1330000.0   900000.0  547500.0
McGrath        1250000.0   810000.0  542500.0
other           901000.0   840500.0  535000.0
Nelson         1055000.0   730000.0  530000.0
HAR             695000.0        0.0  518000.0
McDonald       1242500.0        0.0  502500.0
Barry           830000.0   727500.0  502000.0
Harcourts       740000.0   653750.0  500000.0
Ray             900000.0   650000.0  497500.0
Thomson        1177000.0   500000.0  495000.0
Douglas         684000.0   500000.0  494500.0
Brad            875000.0   700000.0  465000.0
Rendina        1190000.0   750000.0  459000.0
Bells           692500.0   430500.0  457500.0
Jas             935000.0   699000.0  455000.0
Raine           745000.0   608000.0  447500.0
LITTLE          970000.0   800000.0  447000.0
YPA             596250.0   498500.0  443500.0
Love            780000.0   846000.0  440000.0
Village         973500.0   727500.0  420000.0
Stockdale       715500.0   550000.0  410000.0
Sweeney         850000.0   728000.0  381000.0
Burnham         922500.0        0.0  305000.0

SellerG with maximum median price in unit type is: Nick

## Задание 5.2

Сколько уникальных (по названию) фильмов представлено в таблице movies?

In [27]:
# читаю библиотеку
import pandas as pd


# знакомлюсь с новыми таблицами
raitings1_df = pd.read_csv('data/ratings1.csv', sep=',')
raitings2_df = pd.read_csv('data/ratings2.csv', sep=',')
movies_df = pd.read_csv('data/movies.csv', sep=',')
dates_df = pd.read_csv('data/dates.csv', sep=',')

In [28]:
movies_unique = movies_df.describe(include='object')
display(movies_df['title'].value_counts())
print('*' * 60)
print(f'Number of unique values is: {movies_unique.loc['unique', 'title']}')

title
Emma (1996)                                            2
War of the Worlds (2005)                               2
Eros (2004)                                            2
Confessions of a Dangerous Mind (2002)                 2
Saturn 3 (1980)                                        2
                                                      ..
Rape Me (Baise-moi) (2000)                             1
Alice (1990)                                           1
Another Woman (1988)                                   1
Beach Blanket Bingo (1965)                             1
Crimson Rivers, The (Rivières pourpres, Les) (2000)    1
Name: count, Length: 9737, dtype: int64

************************************************************
Number of unique values is: 9737

## Задание 5.3

Сколько уникальных пользователей в таблице ratings1?

In [ ]:
# смотрим на таблицу 
display(raitings1_df)
# смотрим на количество уникальных значений 
# и количестово каждого уникального значения
display(raitings1_df['userId'].value_counts())
# смотрим только на количество уникальных значений
display(raitings1_df['userId'].nunique())
# красиво выводим это число 
print(f'Number of unique users is: {raitings1_df['userId'].nunique()}')

       userId  movieId  rating
0           1        1     4.0
1           1        3     4.0
2           1        6     4.0
3           1       47     5.0
4           1       50     5.0
...       ...      ...     ...
39996     274     5582     2.5
39997     274     5585     3.5
39998     274     5588     3.5
39999     274     5618     4.0
40000     274     5621     2.0

[40001 rows x 3 columns]

userId
68     1260
249    1046
182     977
177     904
232     862
       ...
194      20
53       20
147      20
207      20
257      20
Name: count, Length: 274, dtype: int64

274

Number of unique users is: 274

## Задание 5.4

В каком году было выставлено больше всего оценок?

Для ответа на этот вопрос используйте таблицу dates.

In [61]:
display(dates_df)
# узнаю какой тип
display(dates_df.info())
# переводим тип данных на datetime
dates_df = pd.to_datetime(dates_df)
# снова узнаю тип данных
display(dates_df.info())
# создаю ряд только их годов для удобства преброски складываю все в переменную
dates_year = dates_df.dt.year
# рассматриваю ряд из годов
display(dates_year)
# красиво печатаю ответ
print(f'Year with raiting max number is: {dates_year.value_counts()\
    .index[0]}')
# перепроверяю, что двухтысячный год имеет самое большое количество оцнок
dates_year.value_counts()

0        2000-07-30 18:45:03
1        2000-07-30 18:20:47
2        2000-07-30 18:37:04
3        2000-07-30 19:03:35
4        2000-07-30 18:48:51
                 ...
100831   2017-05-03 21:53:22
100832   2017-05-03 22:21:31
100833   2017-05-08 19:50:47
100834   2017-05-03 21:19:12
100835   2017-05-03 21:20:15
Name: date, Length: 100836, dtype: datetime64[ns]

<class 'pandas.core.series.Series'>
RangeIndex: 100836 entries, 0 to 100835
Series name: date
Non-Null Count   Dtype
--------------   -----
100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 787.9 KB

None

<class 'pandas.core.series.Series'>
RangeIndex: 100836 entries, 0 to 100835
Series name: date
Non-Null Count   Dtype
--------------   -----
100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 787.9 KB

None

0         2000
1         2000
2         2000
3         2000
4         2000
          ...
100831    2017
100832    2017
100833    2017
100834    2017
100835    2017
Name: date, Length: 100836, dtype: int32

Year with raiting max number is: 2000

date
2000    10061
2017     8198
2007     7114
2016     6703
2015     6616
2018     6418
1996     6040
2005     5813
2012     4656
2008     4351
2009     4158
2006     4059
2003     4014
2001     3922
2002     3478
2004     3279
1999     2439
2010     2301
1997     1916
2011     1690
2013     1664
2014     1439
1998      507
Name: count, dtype: int64